.review {
	display: inline-flex !important;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-justify-content: flex-start;
	        justify-content: flex-start;
	-webkit-align-items: flex-start;
	        align-items: flex-start;
	&__image {
		width: 100px;
		margin-top: 5px;
		height: 100px;
		flex: 0 0 100px;
		margin-right: 50px;
		img {
			width: 100%;
			height: 100%;
		}
	}
	&__text, &__name {
		color: #222222;
		font-family: "Fira Sans Condensed";
		font-size: 18px;
		line-height: 30px;
	}
	&__name {
		-webkit-transition: color .3s ease-in-out;
		   -moz-transition: color .3s ease-in-out;
		    -ms-transition: color .3s ease-in-out;
		     -o-transition: color .3s ease-in-out;
		        transition: color .3s ease-in-out;
		font-weight: 500;
	}
	&__text {
		font-weight: 400;
	}

	&:hover {
		.review__name {
			color: $orange;
		}
	}
	@media (max-width: 780px) {
		display: inline-block !important;
		&__image {
			float: left;
			margin-right: 30px;
		}
	}
	@media (max-width: 480px) {
		&__text, &__name {
			font-size: 14px;
			line-height: 1.5;
		}
		&__name {
			margin-top: 10px;
		}
		&__image {
			margin-right: 10px;
			width: 75px;
			height: 75px;
		}
	}
}