.team-page {
	padding-bottom: 30px;
}

.team__dropdown {
	width: 100%;
	height: auto;
	margin-bottom: 60px;
	@include respond-below(sm) {
		margin-bottom: 40px;
	}
	.team__dropdown--header {
		display: none;
	}
	@include respond-below(lg) {
		height: 40px;
		background: #FFF;
		display: flex;
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-justify-content: center;
		        justify-content: center;
		-webkit-align-items: center;
		        align-items: center;
		position: relative;
		z-index: 9;
		.team__dropdown--header {
			position: relative;
			z-index: 1;
			text-align: center;
			width: auto;
			display: inline;
			color: $dark-gray;
			font-size: 18px;
			text-transform: uppercase;
			left: -12px;
			&:before {
				content: "";
				position: absolute;
				display: block;
				top: 5px;
				right: -24px;
				border-top: 7px solid $orange;
				border-left: 8px solid transparent;
				border-right: 8px solid transparent;
				border-bottom: 7px solid transparent;
				-webkit-transition: transform .3s linear, border-color .3s linear;
				   -moz-transition: transform .3s linear, border-color .3s linear;
				    -ms-transition: transform .3s linear, border-color .3s linear;
				     -o-transition: transform .3s linear, border-color .3s linear;
				        transition: transform .3s linear, border-color .3s linear;
			}
		}
		.team__tabs {
			max-height: 0px;
			position: absolute;
			width: 100%;
			overflow: hidden;
			display: flex;
			top: 100%;
			left: 0;
			background: #FFF;
			box-shadow: 0 2px 5px rgba(0, 87, 146, 0.1);
			height: auto;
			padding: 0 25px;
			-webkit-flex-direction: column;
			    -ms-flex-direction: column;
			        flex-direction: column;
			-webkit-justify-content: flex-start;
			        justify-content: flex-start;
			-webkit-align-items: center;
			        align-items: center;
			-webkit-transition: max-height .5s linear;
			   -moz-transition: max-height .5s linear;
			    -ms-transition: max-height .5s linear;
			     -o-transition: max-height .5s linear;
			        transition: max-height .5s linear;
			.team__tab {
				display: block;
				text-align: center;
				width: 100%;
				font-size: 18px;
				line-height: 32px;
				&:first-child {
					margin-top: 30px;
				}
				&:last-child {
					margin-bottom: 30px;
				}
			}
		}
		&._opened {
			.team__tabs {
				max-height: 400px;
			}
			.team__dropdown--header:before {
				-webkit-transform: rotate(180deg) translateY(7px);
				   -moz-transform: rotate(180deg) translateY(7px);
				    -ms-transform: rotate(180deg) translateY(7px);
				     -o-transform: rotate(180deg) translateY(7px);
				        transform: rotate(180deg) translateY(7px);
			}
		}
	}
}
.team__tabs {
	display: flex;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-justify-content: space-between;
	        justify-content: space-between;
	-webkit-align-items: center;
	        align-items: center;
	    -webkit-flex-wrap: wrap;
	        -ms-flex-wrap: wrap;
	            flex-wrap: wrap;
	.team__tab {
		color: $dark-gray;
		cursor: pointer;
		font-size: 18px;
		text-transform: uppercase;
		-webkit-transition: color .3s linear;
		   -moz-transition: color .3s linear;
		    -ms-transition: color .3s linear;
		     -o-transition: color .3s linear;
		        transition: color .3s linear;
		&:hover, &._active {
			color: $orange;
		}
		@include respond-above(lg) {
			&._last {
				width: 50%;
				max-width: 50%;
				flex: 0 0 50%;
				text-align: right;
				padding-right: 50px;
				margin-top: 25px;
				&:last-child {
					text-align: left;
					padding-right: 0;
				}
			}
		}
	}
}

.modal.person-modal {
	padding: 0;
	width: 877px;
	left: calc(50% - 439px);
	.person-modal__inner {
		width: 100%;
		height: 100%;
		display: flex;
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-justify-content: space-between;
		        justify-content: space-between;
		-webkit-align-items: flex-start;
		        align-items: flex-start;
		.person-modal__preview {
			flex: 0 0 350px;
			width: 350px;
			max-width: 350px;
			position: relative;
			.person-modal__name {
				position: absolute;
				top: 30px;
				left: 30px;
				color: $dark-gray;
				font-size: 24px;
				text-transform: uppercase;
				font-weight: 600;
			}
			text-align: center;
			picture, source, img {
				width: auto;
				height: auto;
				text-align: center;
				display: block;
				margin: 0 auto;
			}
			.person-modal__image {
				padding-top: 70px;
				background-color: #f0f0f0;
				margin-bottom: 75px;
			}
			.button {
				margin: 0 auto;
			}
		}
		.person-modal__content {
			padding: 100px 80px 60px 50px;
			width: calc(100% - 350px);
			max-width: calc(100% - 350px);
			flex: 0 0 calc(100% - 350px);
			@media (max-width: 900px) {
				width: 100%;
				max-width: 100%;
				flex: 0 0 100%;
			}
			.person-modal__content--text {
				font-weight: 400;
				color: $dark-gray;
				font-size: 18px;
				line-height: 30px;
				span {
					font-weight: 500;
				}
				&:not(:last-of-type) {
					margin-bottom: 45px;
				}
			}
		}
	}
	@media (max-width: 900px) {
		width: 100%;
		top: 0;
		left: 0;
		position: absolute;
		.person-modal__inner {
			-webkit-flex-direction: column;
			    -ms-flex-direction: column;
			        flex-direction: column;
		    -webkit-justify-content: flex-start;
		            justify-content: flex-start;
		    -webkit-align-items: stretch;
		            align-items: stretch;
		    padding-bottom: 200px;
		    margin-bottom: 50px;
		    .person-modal__preview {
		    	flex: 0 0 100%;
		    	width: 100%;
		    	max-width: 100%;
		    	position: static;
		    	.person-modal__image {
		    		padding-top: 130px;
		    		margin-bottom: 0;
		    	}
		    	.person-modal__name {
		    		top: 90px;
		    		width: 100%;
		    		left: 0;
		    		text-align: center;
		    	}
		    	.button {
		    		position: absolute;
		    		bottom: 120px;
		    		left: calc(50% - 131px);
		    	}
		    }
		    .person-modal__content {
		    	padding: 50px 15px 0 15px;
		    	.person-modal__content--text {
		    		&:not(:last-of-type) {
						margin-bottom: 35px;
					}
		    	}
		    }
		}
	}
}