mixin button(button)
	if button.link
		a.button(href=button.link id=button.id class=button.className target=button.target) #{button.text}
	else
		button.button(type="button" id=button.id class=button.className) #{button.text}