mixin lfkTypesNav(types)
	nav.lfk-types-navigation
		.lfk-types-navigation__header #{types[0].text}
		ul.lfk-types-navigation__list
			-var count = 1;
			each type in types
				if count == 1
					-var className = '_active';
				else 
					-var className = '';
				li.lfk-types-navigation__item(class=className data-href=type.href) #{type.text}
				-count++

