.list {
	// display: flex;
	// -webkit-flex-direction: column;
	//     -ms-flex-direction: column;
	//         flex-direction: column;
	// -webkit-justify-content: flex-start;
	//         justify-content: flex-start;
	//  -webkit-align-items: flex-start;
	//          align-items: flex-start;
	// -webkit-flex-wrap: wrap;
	//     -ms-flex-wrap: wrap;
	//         flex-wrap: wrap;
	
    display: -ms-grid;
    display: grid;
	-ms-grid-columns: 1fr 1fr;
	grid-template-columns: repeat(2, 1fr);
	-ms-grid-rows: auto;
	grid-template-rows: auto;
	-webkit-box-align: start;
	-webkit-align-items: start;
	        align-items: start;
	        
	& > *:nth-child(1) {
		-ms-grid-row: 1;
    	-ms-grid-column: 1;
	}
	& > *:nth-child(2) {
		-ms-grid-row: 1;
    	-ms-grid-column: 2;
	}
	& > *:nth-child(3) {
		-ms-grid-row: 2;
    	-ms-grid-column: 1;
	}
	& > *:nth-child(4) {
		-ms-grid-row: 2;
    	-ms-grid-column: 2;
	}        
	& > *:nth-child(5) {
		-ms-grid-row: 3;
    	-ms-grid-column: 1;
	}
	& > *:nth-child(6) {
		-ms-grid-row: 3;
    	-ms-grid-column: 2;
	}
	& > *:nth-child(7) {
		-ms-grid-row: 4;
    	-ms-grid-column: 1;
	}
	& > *:nth-child(8) {
		-ms-grid-row: 4;
    	-ms-grid-column: 2;
	}       
	& > *:nth-child(9) {
		-ms-grid-row: 5;
    	-ms-grid-column: 1;
	}
	& > *:nth-child(10) {
		-ms-grid-row: 5;
    	-ms-grid-column: 2;
	}
	& > *:nth-child(11) {
		-ms-grid-row: 6;
    	-ms-grid-column: 1;
	}
	& > *:nth-child(12) {
		-ms-grid-row: 6;
    	-ms-grid-column: 2;
	}
	&._full {
		-ms-grid-columns: 1fr;
		grid-template-columns: 1fr;
	    & > *:nth-child(1) {
			-ms-grid-row: 1;
    		-ms-grid-column: 1;
		}
		& > *:nth-child(2) {
			-ms-grid-row: 2;
    		-ms-grid-column: 1;
		}
		& > *:nth-child(3) {
			-ms-grid-row: 3;
    		-ms-grid-column: 1;
		}
		& > *:nth-child(4) {
			-ms-grid-row: 4;
    		-ms-grid-column: 1;
		}        
		& > *:nth-child(5) {
			-ms-grid-row: 5;
    		-ms-grid-column: 1;
		}
		& > *:nth-child(6) {
			-ms-grid-row: 6;
    		-ms-grid-column: 1;
		}
		& > *:nth-child(7) {
			-ms-grid-row: 7;
    		-ms-grid-column: 1;
		}
		& > *:nth-child(8) {
			-ms-grid-row: 8;
    		-ms-grid-column: 1;
		}
		& > *:nth-child(9) {
			-ms-grid-row: 9;
    		-ms-grid-column: 1;
		}
		& > *:nth-child(10) {
			-ms-grid-row: 10;
    		-ms-grid-column: 1;
		}
		& > *:nth-child(11) {
			-ms-grid-row: 11;
    		-ms-grid-column: 1;
		}
		& > *:nth-child(12) {
			-ms-grid-row: 12;
    		-ms-grid-column: 1;
		}
		& > *:nth-child(13) {
			-ms-grid-row: 13;
    		-ms-grid-column: 1;
		}
	}
	&._one-line {
		-ms-grid-columns: 1fr 20px 1fr 20px 1fr;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 20px;
		.list__item {
			padding-right: 0;
		}
		& > *:nth-child(1) {
			-ms-grid-row: 1;
    		-ms-grid-column: 1;
		}
		& > *:nth-child(2) {
			-ms-grid-row: 1;
    		-ms-grid-column: 3;
		}
		& > *:nth-child(3) {
			-ms-grid-row: 1;
    		-ms-grid-column: 5;
		}
		& > *:nth-child(4) {
			-ms-grid-row: 1;
    		-ms-grid-column: 6;
		}        
		& > *:nth-child(5) {
			-ms-grid-row: 1;
    		-ms-grid-column: 7;
		}
		@include respond-below(md) {
			-ms-grid-columns: 100%;
			grid-template-columns: 100%;
		    & > *:nth-child(1) {
				-ms-grid-row: 1;
    			-ms-grid-column: 1;
			}
			& > *:nth-child(2) {
				-ms-grid-row: 2;
    			-ms-grid-column: 1;
			}
			& > *:nth-child(3) {
				-ms-grid-row: 3;
    			-ms-grid-column: 1;
			}
			& > *:nth-child(4) {
				-ms-grid-row: 4;
    			-ms-grid-column: 1;
			}
		}
	}
	&._rear-side {
		float: left;
		max-width: 85%;
		& + .arrowed-link {
			float: right;
		}
		&:after {
			content: "";
			display: block;
			clearfix: both;
		}
		@include respond-below(lg) {
			float: none;
			& + .arrowed-link {
				float: none;
			}
		}
	}
	@include respond-below(lg) {
		-ms-grid-columns: 100%;
		grid-template-columns: 100%;
	}
	.list__item {
		// flex: 0 0 auto;
		width: 100%;
		color: $dark-gray;
		font-size: 18px;
		line-height: 30px;
		margin-bottom: 40px;
		padding-right: 75px;
		@include respond-below(md) {
			padding-right: 0;
			color: $dark-gray;
			font-size: 18px;
			line-height: 27px;
			@include respond-below(sm) {
				margin-bottom: 15px;
			}
		}
		@for $i from 0 through 10 {
			&:nth-child(#{$i}) {
				.list__item--mark::after {
					-webkit-transition: left .3s linear ($i + 1)/10*3s, top .3s linear ($i + 1)/10*3s;
					   -moz-transition: left .3s linear ($i + 1)/10*3s, top .3s linear ($i + 1)/10*3s;
					    -ms-transition: left .3s linear ($i + 1)/10*3s, top .3s linear ($i + 1)/10*3s;
					     -o-transition: left .3s linear ($i + 1)/10*3s, top .3s linear ($i + 1)/10*3s;
					        transition: left .3s linear ($i + 1)/10*3s, top .3s linear ($i + 1)/10*3s;
				}
			}
		}
		display: flex;
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-justify-content: flex-start;
		        justify-content: flex-start;
		-webkit-align-items: flex-start;
		        align-items: flex-start;
		.list__item--mark {
			width: 12px;
			height: 12px;
			flex: 0 0 12px;
			top: 10px;
			margin-right: 12px;
			background: #fff;
			position: relative;
			overflow: hidden;
			&:after {
				content: "";
				display: block;
				width: 100%;
				height: 100%;
				position: absolute;
				top: -12px;
				left: -12px;
				background: $orange;
			}
		}
	}
	&._animated {
			.list__item {
				.list__item--mark {
					&:after {
						top: 0;
						left: 0;
					}
				}
			}
		}
}