.single-sub__info {
	display: flex;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-justify-content: space-between;
	        justify-content: space-between;
	-webkit-align-items: flex-start;
	        align-items: flex-start;
	position: relative;
	margin-bottom: 100px;
	@include respond-below(md) {
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
	    -webkit-justify-content: flex-start;
	            justify-content: flex-start;
	    -webkit-align-items: stretch;
	            align-items: stretch;
	}
}
.single-sub__info--buttons {
	position: absolute;
	right: 0;
	top: 0;
	flex: 0 0 260px;
	width: 260px;
	height: 100%;
	display: flex;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-justify-content: space-between;
	        justify-content: space-between;
	-webkit-align-items: flex-start;
	        align-items: flex-start;
	.single-sub__info--next {
		font-weight: 500;
			color: $dark-gray;
			font-size: 20px;
			display: inline-block;
			position: relative;
			-webkit-transition: color .3s linear;
			   -moz-transition: color .3s linear;
			    -ms-transition: color .3s linear;
			     -o-transition: color .3s linear;
			        transition: color .3s linear;
			&:hover {
				color: $orange;
			}
			&:after {
				content: "";
				display: block;
				position: absolute;
				top: 3px;
				right: -30px;
				border-left: 10px solid $orange;
				border-right: 10px solid transparent;
				border-top: 8.5px solid transparent;
				border-bottom: 8.5px solid transparent;
			}
	}
	.button {
		width: 100%;
	}
	@include respond-below(md) {
		position: static;
		flex: 0 0 120px;
		width: 100%;
		height: 120px;
		-webkit-align-items: flex-end;
		        align-items: flex-end;
		margin-top: 30px;
		padding-right: 0;
		.button {
			width: 260px !important;
			-webkit-align-self: center;
			        align-self: center;
		}
		.single-sub__info--next {
			margin-right: 20px;
		}
	}
}
.single-sub__info--preview {
	display: flex;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-align-items: flex-start;
	        align-items: flex-start;
	-webkit-justify-content: flex-start;
	        justify-content: flex-start;
	    max-width: 440px;
	flex: 0 0 auto;
	width: 100%;
	.single-sub__preview--head {
		display: flex;
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-align-items: flex-start;
		        align-items: flex-start;
		-webkit-justify-content: flex-start;
		        justify-content: flex-start;
		.single-sub__preview--icon {
			width: 67px;
			height: 67px;
			flex: 0 0 67px;
			color: transparent;
			margin-right: 18px;
			svg {
				width: 100%;
				height: 100%;
			}
		}
		.single-sub__preview--number {
			font-family: "Deja Vu Sans";
			font-weight: 700;
			color: $orange;
			font-size: 50px;
			width: auto;
			height: auto;
			display: inline-block;
			margin-right: 20px;
			@include respond-below(md) {
				font-size: 40px;
			}
		}
		.single-sub__preview--title {
			font-weight: 500;
			color: $dark-gray;
			font-size: 30px;
			text-transform: uppercase;
			line-height: 50px;
			@include respond-below(md) {
				font-size: 24px;
				line-height: 32px;
			}
		}
	}
	.single-sub__preview--body {
		margin-top: 47px;
		color: $dark-gray;
		font-size: 18px;
		line-height: 30px;
		width: 100%;
		.list {
			.list__item {
				max-width: 100%;
				width: 100%;
				padding-right: 0;
			}
		}
		.single-sub__preview--text {
			max-width: 100%;
		}
		.single-sub__preview--link {
			font-weight: 500;
			color: $dark-gray;
			font-size: 20px;
			margin-top: 40px;
			display: inline-block;
			position: relative;
			-webkit-transition: color .3s linear;
			   -moz-transition: color .3s linear;
			    -ms-transition: color .3s linear;
			     -o-transition: color .3s linear;
			        transition: color .3s linear;
			&:hover {
				color: $orange;
			}
			&:after {
				content: "";
				display: block;
				position: absolute;
				top: 8px;
				right: -30px;
				border-left: 10px solid $orange;
				border-right: 10px solid transparent;
				border-top: 8.5px solid transparent;
				border-bottom: 8.5px solid transparent;
			}
		}
	}
}
.single-sub__abilities {
	.container {
		padding-bottom: 100px;
		@media (min-width: 900px) {
			min-height: 855px;
		}
	}
	position: relative;
	width: 100%;
	overflow: hidden;
	@media (min-width: 900px) {
		min-height: 855px;
	}
	.single-sub__subtitle {
		color: $dark-gray;
		font-size: 24px;
		font-weight: 600;
		margin-bottom: 90px;
		@include respond-below(md) {
			font-size: 22px;
			line-height: 27px;
			margin-bottom: 60px;
		}
	}
	.man__img {
		position: absolute;
		width: 582px;
		height: 855px;
		right: -200px;
		bottom: 0;
		@media (max-width: 900px) {
			display: none;
		}
	}
}
.single-sub__list {
	display: flex;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-justify-content: flex-start;
	        justify-content: flex-start;
	-webkit-align-items: flex-start;
	        align-items: flex-start;
	padding-right: 350px;
	@media (max-width: 900px) {
		padding-right: 0;
	}
	    .single-sub__list--item {
	    	display: flex;
	    	-webkit-flex-direction: row;
	    	    -ms-flex-direction: row;
	    	        flex-direction: row;
	    	-webkit-justify-content: flex-start;
	    	        justify-content: flex-start;
	    	-webkit-align-items: flex-start;
	    	        align-items: flex-start;
	    	&:not(:last-of-type) {
	    		margin-bottom: 50px;
	    	}
	    	padding-left: 100px;
	    	position: relative;
	    	width: 100%;
	    	max-width: 100%;
	    	@include respond-below(md) {
	    		-webkit-flex-direction: column;
	    		    -ms-flex-direction: column;
	    		        flex-direction: column;
	    	    -webkit-align-items: center;
	    	            align-items: center;
	    	    padding: 0 15px;
	    	    width: 100%;
	    	    &:not(:last-of-type) {
	    			margin-bottom: 40px;
	    		}
	    	}
	    	.single-sub__list--icon {
	    		width: 50px;
	    		height: 100%;
	    		min-height: 40px;
	    		position: absolute;
	    		top: 0;
	    		left: 0;
	    		color: transparent;
	    		@include respond-below(md) {
	    			height: 40px;
	    			position: static;
	    			margin-bottom: 15px;
	    		}
	    		svg {
	    			width: 100%;
	    			height: 100%;
	    		}
	    	}
	    	.single-sub__list--text {
	    		color: $dark-gray;
				font-size: 18px;
				line-height: 27px;
				min-height: 40px;
				
				max-width: 100%;
				@include respond-below(md) {
					text-align: center;
				}
	    	}
	    }
}