.service-subscriptions__links {
	display: flex;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-justify-content: space-between;
	        justify-content: space-between;
	@media (max-width: 768px) {
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
	    -webkit-justify-content: flex-start;
	            justify-content: flex-start;
		a:nth-child(2) {
			margin-top: 20px;
		}
	}
}