extends ../layout.pug

block content
	include ../../components/serviceHead/serviceHead.pug
	include ../../components/serviceLine/serviceLine.pug
	include ../../components/reviewsList/reviewsList.pug
	include ../../components/list/list.pug
	include ../../components/form/form.pug
	include ../../components/modal/modal.pug
	include ../../components/lfkTypesNav/lfkTypesNav.pug
	include ../../components/lfkType/lfkType.pug
	include ../../components/photoItem/photoItem.pug
	.lfk-page
		.container
			h1.title СПОРТИВНАЯ МЕДИЦИНА
			+serviceHead({
				'image': './assets/images/content/medicina/medicina_main',
				'text': 'Чтобы добиться поставленных целей от физических нагрузок в минимальные сроки и без вреда для здоровья, воспользуйтесь услугами врача по спортивной медицине.',
				'className': 'service-head__long',
				'buttonId': 'lfkButton',
				'buttonText': 'Виды услуг'
			})
			.service-rules
				p.subtitle ЗАПИСЬ к врачу
				.service-rules__inner._modified
					.service-rules__inner--text
						p Запись осуществляется в кабинете спортивной медицины или по телефону 
							a(href="tel:3801027") 380-10-27
						p
							span.colored-text Внимание! 
							| Все клиенты клуба в срок до 2х недель со дня активации купленного/продленного абонемента обязаны предоставить медицинский допуск к физическим нагрузкам (Часть 2 Статья 39 №329-ФЗ). Данный допуск также можно получить непосредственно у врача в клубе по предварительной записи.
					.service-rules__inner--links
						a(href="https://kindofheaven.ru/leader/team.html#lfk") Специалисты
						a(target="_blank" href="https://vk.com/topic-47542824_39539924") Акции
						a(target="_blank" href="https://vk.com/topic-17283_29515163") Оставить отыв	
			.lfk-types
				p.title ВИДЫ УСЛУГ
				+lfkTypesNav([
					{
						'text': 'Анализ тренировки',
						'href': 'analiz'
					},
					{
						'text': 'Биоимпедансометрия',
						'href': 'bio'
					},
					{
						'text': 'Анализ вариабельности сердечного ритма',
						'href': 'serdce'
					},
					{
						'text': 'Кинезиотейпирование',
						'href': 'kinezio'
					},
					{
						'text': 'Допуск к занятиям',
						'href': 'dopusk'
					},
					{
						'text': 'Консультация врача ',
						'href': 'consult'
					},
					{
						'text': 'Определение пульсовых зон',
						'href': 'puls'
					},
					{
						'text': 'Составление программы тренировок',
						'href': 'train'
					},
				])
				.lfk-types__container
					+lfkType({
						'anchor': 'analiz',
						'className': '_active'
					})
						p.subtitle АНАЛИЗ ТРЕНИРОВКИ
						+photoItem({
							'text': '<p>Чтобы убедиться в том, что ваша тренировка построена правильно и во время выполнения физических упражнений вы добиваетесь именно поставленной цели, врач по спортивной медицине производит анализ вашей тренировочной программы и выдает рекомендации для ее корректировки при необходимости . Одним из способов анализа тренировочной активности может служить определение концентрации лактата, очень важного показателя в спортивной медицине.</p>',
							'image': './assets/images/content/medicina/analiz'
						})
						p.subtitle Уровень лактата*
						+list([
							'высокоинтенсивные нагрузки — свыше 6.0&nbsp;ммоль/л',
							'неадекватность нагрузки — свыше 12.0&nbsp;ммоль/л',
							'максимальное окисление жиров — до 4.0&nbsp;ммоль/л',
							'низкая интенсивность нагрузки — до 3&nbsp;ммоль/л',
						])
						p.service-subscriptions__text *В зависимости от интенсивности нагрузок
						p.service-subscriptions__text
							span *Подготовка к исследованию
							br
							| Для достоверности данных лактатный тест должен быть произведен не позднее 5 минут после окончания основной части тренировки (до заминки).
						.service-subscriptions._left._ext
							p.subtitle СТОИМОСТЬ
							.service-subscriptions__list
								.service-subscriptions__item
									p.service-subscriptions__item--amount Анализ тренировки
									.service-subscriptions__item--payment 250&nbsp;руб.
								+button({
									"link" : 'javascript:void(0)',
									'text': 'Записаться',
									'className': '_colored modal__open',
									'id': 'formModal__open'
								})
					+lfkType({
						'anchor': 'bio'
					})
						p.subtitle БИОИМПЕДАНСОМЕТРИЯ
						+photoItem({
							'text': '<p>Это наиболее точная на сегодняшний день среди скрининговых (менее 5 мин) методик определения состава тела. Определяются:<br>— содержание и нормальные значения мышечной массы в организме, адекватность мышечного тонуса;<br>— содержание и нормальные значения жировой массы в организме;<br>— водный баланс и адекватность питьевого режима и потребления солей;<br>— основной обмен: должный и фактический.</p>',
							'image': './assets/images/content/medicina/bio'
						})
						p.subtitle пОКАЗАНИЯ
						+list([
							'людям, следящим за весом',
'людям, страдающим болезнями, влияющими на вес и обменные процессы',
'в диетологии, для подбора и коррекции питания',
'тем, кто находится в группе риска по заболеваниям костей, мышц, почек и эндокринной системы',
'спортсменам, и  часто посещающим фитнес, для оценки эффективности и коррекции тренировочной активности, направленной для набора/снижения массы тела',
'больным со скрытыми отеками, для определения эффективности мочегонных и других лекарственных средств',	
						])
						p.subtitle.margin-top-140 Противопоказания
						+list([
							'беременность (второй и третий триместр)','кардиостимулятор'
						], '_rear-side')
						a.arrowed-link.modal__open#gym0Modal__open(href="javascript:void(0)") Подготовка к исследованию
						.clearfix
						.service-subscriptions._two-rows
							p.subtitle СТОИМОСТЬ БИОИМПЕДАНСОМЕТРИИ
							.service-subscriptions__list
								.service-subscriptions__item
									p.service-subscriptions__item--amount 1&nbsp;сеанс (15-30&nbsp;минут)
									.service-subscriptions__item--payment 900&nbsp;руб.
								.service-subscriptions__item
									p.service-subscriptions__item--amount 2&nbsp;сеанса (15-30&nbsp;минут)
									.service-subscriptions__item--payment 1&nbsp;800&nbsp;руб.
								.service-subscriptions__item
									p.service-subscriptions__item--amount 4&nbsp;сеанса (15-30&nbsp;минут)
									.service-subscriptions__item--payment 2&nbsp;400&nbsp;руб.
								.service-subscriptions__item
									p.service-subscriptions__item--amount 6&nbsp;сеансов (15-30&nbsp;минут)
									.service-subscriptions__item--payment 2&nbsp;700&nbsp;руб.
								.service-subscriptions__item
									p.service-subscriptions__item--amount 1&nbsp;сеанс + коррекция питания
									.service-subscriptions__item--payment 2&nbsp;000&nbsp;руб.
								+button({
									"link" : 'javascript:void(0)',
									'text': 'Записаться',
									'className': '_colored modal__open',
									'id': 'formModal__open'
								})
					+lfkType({
						'anchor': 'serdce'
					})
						p.subtitle анализ вариабельности сердечного ритма
						+photoItem({
							'text': '<p>Представляет собой наиболее удобный тест, благодаря которому можно оценить эффективность взаимодействия сердечно-сосудистой и других систем организма. Данный анализ популярен в космической и спортивной медицине поскольку является не инвазивным, а его показатели позволяют дать общую оценку о состоянии пациента, так как отражают жизненно важные механизмы управления физиологическими процессами организма. Тестирование базируется на математической обработке длительной записи ЭКГ (от 10&nbsp;минут).</p>',
							'image': './assets/images/content/medicina/serdce'
						})
						p.subtitle пОКАЗАНИЯ
						+list([
							'вегетативный баланс',
							'уровень тренированности и влияние физических нагрузок на организм',
							'уровень стресса и риска развития заболеваний',
							'функциональное состояние организма и его резервы, другими словами «функционалка», то ради чего большинство из нас начинают или продолжают заниматься спортом',
						])
						.service-subscriptions__links
							a.arrowed-link(href="javascript:void(0)") Что такое вариабельность сердечного ритма
							a.arrowed-link.modal__open#prep3Modal__open(href="javascript:void(0)") Подготовка к исследованию
						.service-subscriptions._left._resize
							p.subtitle СТОИМОСТЬ АНАЛИЗА
							.service-subscriptions__list
								.service-subscriptions__item
									p.service-subscriptions__item--amount 1&nbsp;сеанс (30&nbsp;минут)
									.service-subscriptions__item--payment 750&nbsp;руб.
								.service-subscriptions__item
									p.service-subscriptions__item--amount 6&nbsp;сеансов (30&nbsp;минут)
									.service-subscriptions__item--payment 3&nbsp;500&nbsp;руб.
								+button({
									"link" : 'javascript:void(0)',
									'text': 'Записаться',
									'className': '_colored modal__open',
									'id': 'formModal__open'
								})
					+lfkType({
						'anchor': 'dopusk'
					})
						p.subtitle Допуск к занятиям физической культурой
						+photoItem({
							'text': '<p>Осуществляется врачом по спортивной медицине и лечебной физкультуре на основании: 1) результатов проведения диспансеризации или профилактического медицинского осмотра (справка от терапевта/педиатра по месту жительства); 2) данных анализа ЭКГ, давностью не более 1 года. По результатам осмотра выдается медицинское заключение и определяется принадлежность к одной из 4-х функциональных групп.</p>',
							'image': './assets/images/content/medicina/dopusk'
						})
						p.subtitle осмотр врача включает	
						+list([
							'антропометрию',
							'оценку типа телосложения',
							'оценку уровня физического развития',
							'проведение функциональных (нагрузочных) проб',
						])
						.service-subscriptions__links
							a.arrowed-link.modal__open#prep1Modal__open(href="javascript:void(0)") Подготовка к исследованию
						.service-subscriptions._left._ext
							p.subtitle Стоимость осмотра врача для допуска к занятиям
							.service-subscriptions__list
								.service-subscriptions__item
									p.service-subscriptions__item--amount Прием (30&nbsp;минут)
									.service-subscriptions__item--payment 300&nbsp;руб.
								+button({
									"link" : 'javascript:void(0)',
									'text': 'Записаться',
									'className': '_colored modal__open',
									'id': 'formModal__open'
								})
					+lfkType({
						'anchor': 'kinezio'
					})
						p.subtitle кинезиотейпирование
						+photoItem({
							'text': '<p>Это простой и эффективный метод лечения растяжения связок, мышечных болей и других травм, а также гематом и отеков с помощью специального наложения клейкой ленты (тейпа). </p>',
							'image': './assets/images/content/medicina/kinezio'
						})
						p.subtitle Показания
						+list([
							'растяжение связок, ушибы мягких тканей, гематомы, отеки',
							'локоть теннисиста и другие эпикондилиты',
							'плантарный фасциит (пяточная шпора)',
							'прочие тендиниты (воспаления сухожилий и связок)',
							'миозиты (воспаление мышц)',
							'остеохондроз и прочие дорсопатии',
							'хондромаляция надколенника, субакромиальный импиджмент плеча и др. проблемы суставов',
						])
						p.subtitle.margin-top-140 Противопоказания
						+list([
							'нецелостность кожных покровов в месте наложения тейпа',
							'индивидуальная непереносимость компонентов, присутствующих в составе тейпа'
						])
						p.service-subscriptions__text._half
							span *Внимание! 
							| При наличии выраженного волосяного покрова рекомендуется его заблаговременное устранение в предполагаемых местах наложения тейпа.
						.service-subscriptions._left._ext
							p.subtitle Стоимость наложения кинезиотейпа
							.service-subscriptions__list
								.service-subscriptions__item
									p.service-subscriptions__item--amount 1&nbsp;зона (50см&nbsp;тейпа)
									.service-subscriptions__item--payment 550&nbsp;руб.
								+button({
									"link" : 'javascript:void(0)',
									'text': 'Записаться',
									'className': '_colored modal__open',
									'id': 'formModal__open'
								})
					+lfkType({
						'anchor': 'consult'
					})
						p.subtitle консультация врача
						+photoItem({
							'text': '<p>В нашем Клубе Вы можете получить консультацию врача по спортивной медицине и/или лечебной физкультуре.</p>',
							'image': './assets/images/content/medicina/consult'
						})
						p.subtitle виды консультаций
						+list([
							'оценка и составление рационального питания во время тренировок и соревнований в соответствии с уровнем физической нагрузки и видами спорта',
'восстановление и повышение спортивной работоспособности после перенесенных заболеваний',
'реабилитация после перенесенных травм',
'анализ результатов обследований, с целью составления программы реабилитации или коррекции тренировочного процесса',
'применение современных лекарственных препаратов, БАДов, специализированных продуктов спортивного питания, медицинских или спортивных изделий'
						])
						.service-subscriptions._two-rows
							p.subtitle Стоимость КОНСУЛЬТАЦИИ
							.service-subscriptions__list
								.service-subscriptions__item
									p.service-subscriptions__item--amount Консультация врача
									.service-subscriptions__item--payment 300&nbsp;руб.
								.service-subscriptions__item
									p.service-subscriptions__item--amount Консульт. по питанию
									.service-subscriptions__item--payment 600&nbsp;руб.
								.service-subscriptions__item
									p.service-subscriptions__item--amount Коррекция питания
									.service-subscriptions__item--payment 1&nbsp;500&nbsp;руб.
								.service-subscriptions__item
									p.service-subscriptions__item--amount Составление комплекса&nbsp;ЛФК
									.service-subscriptions__item--payment 1&nbsp;500&nbsp;руб.
								.service-subscriptions__item
									p.service-subscriptions__item--amount Биоимпедансометрия + коррекция питания
									.service-subscriptions__item--payment 2&nbsp;000&nbsp;руб.
								+button({
									"link" : 'javascript:void(0)',
									'text': 'Записаться',
									'className': '_colored modal__open',
									'id': 'formModal__open'
								})
					+lfkType({
						'anchor': 'puls'
					})
						p.subtitle определение пульсовых зон
						+photoItem({
							'text': '<p>Наиболее простым способом определения пульсовых зон является расчет по формулам. В нашем клубе врач по спортивной медицине определяет ваши индивидуальные пульсовые зоны с помощью выявления ПАНО (порога анаэробного обмена). Точность данного метода на порядок выше, погрешность составляет всего 2-3%. Выполняется ступенчатая нагрузка до отказа на кардиотренажере (велотренажер/беговая дорожка).</p>',
							'image': './assets/images/content/medicina/puls'
						})
						p.subtitle ПОКАЗАНИЯ
						+list([
							'определение индивидуального пульса для жиросжигания',
							'определение индивидуального пульса для развития выносливости',
							'определение индивидуального пульса для развития скоростно-силовой выносливости',
							'определение индивидуального пульса для реабилитации',
							'определение уровня физической подготовки',
						])
						.service-subscriptions__links
							a.arrowed-link(href="javascript:void(0)") Что такое ПАНО и зачем следить за пульсом во время тренировки
							a.arrowed-link.modal__open#prep2Modal__open(href="javascript:void(0)") Подготовка к исследованию
						.service-subscriptions._left._ext
							p.subtitle Стоимость определения ПАНО*
							.service-subscriptions__list
								.service-subscriptions__item
									p.service-subscriptions__item--amount 1&nbsp;сеанс (40-6&nbsp;минут)
									.service-subscriptions__item--payment 1&nbsp;600&nbsp;руб.
								+button({
									"link" : 'javascript:void(0)',
									'text': 'Записаться',
									'className': '_colored modal__open',
									'id': 'formModal__open'
								})
						p.service-subscriptions__text *Расчет индивидуальных пульсовых зон
					+lfkType({
						'anchor': 'train'
					})
						p.subtitle составление программы тренировок
						+photoItem({
							'text': '<p>Задача врача состоит в том, чтобы, выявив проблемы, помочь грамотно их откорректировать, учитывая ваши желания, которые иногда могут идти вразрез с возможностями вашего же организма и здоровья. Программа тренировок может быть составлена как для тренажерного зала, так и для выполнения в домашних или иных условиях, в зависимости от пожеланий, а также с учетом выявленного состояния организма после фитнес-диагностики. Включает в себя полный гид по правильной технике выполнения упражнений.</p>',
							'image': './assets/images/content/medicina/train'
						})
						p.subtitle Фитнес диагностика + программа тренировок включает
						+list([
							'биоимпедансометрию (анализ состава тела)',
							'проведение нагрузочной пробы на реографе',
							'анализ вариабельности сердечного ритма',
							'консультацию по питанию',
							'индивидуальную программу тренировок составленную на 1&nbsp;-&nbsp;2 месяца',
						])
						.service-subscriptions__links
							a.arrowed-link.modal__open#prep1Modal__open(href="javascript:void(0)") Подготовка к исследованию
						.service-subscriptions._left._resize
							p.subtitle Стоимость ФД* и составления программы тренировок
							.service-subscriptions__list
								.service-subscriptions__item
									p.service-subscriptions__item--amount ФД (3&nbsp;этапа)
									.service-subscriptions__item--payment 2&nbsp;400&nbsp;руб.
								.service-subscriptions__item
									p.service-subscriptions__item--amount ФД + программа
									.service-subscriptions__item--payment 3&nbsp;000&nbsp;руб.
								+button({
									"link" : 'javascript:void(0)',
									'text': 'Записаться',
									'className': '_colored modal__open',
									'id': 'formModal__open'
								})
						p.service-subscriptions__text *ФД — фитнес-диагностика
		+form('lfk-form')
	+modal({
		'id': 'formModal',
		'className': 'sub-modal'
	})
		p.sub-modal--title ОСТАВЬ ЗАЯВКУ И МЫ СВЯЖЕМСЯ С ТОБОЙ<br> В БЛИЖАЙШЕЕ ВРЕМЯ
		form
			.form__inputs
				+input({'text': 'Имя', 'id': 'yoganame', 'name': 'name', 'required': true, 'type': 'text'})
				+input({'text': 'Телефон', 'id': 'yogaphone', 'name': 'phone', 'required': true, 'type': 'text','className': 'phone-input'})
			+agree({'id': 'yogaagreement', 'name': 'agreement'})
			+button({'id': 'yogaformSectionButton', 'text': 'Записаться'})
	+modal({
		'id': 'gymModal',
		'className': 'gym-modal'
	})
		h3.modal__title Для получения более достоверных данных рекомендуется
		+list([
			'не употреблять пищу или напитки за 2 часа до проведения услуги',
			'осуществлять физическую нагрузку за 3 часа до проведения услуги'
		])
		p.service-subscriptions__text Достоверность данных не гарантируется при несоблюдении вышеуказанных условий, а также при наличии в теле металлических имплантов.
	+modal({
		'id': 'gym0Modal',
		'className': 'gym-modal'
	})
		h3.modal__title Для получения более достоверных данных рекомендуется
		+list([
			'не употреблять пищу или напитки за 2 часа до проведения услуги',
			'осуществлять физическую нагрузку за 3 часа до проведения услуги'
		])
		p.service-subscriptions__text Достоверность данных не гарантируется при несоблюдении вышеуказанных условий, а также при наличии в теле металлических имплантов.
		p.service-subscriptions__text Повторное измерение желательно проходить в то же самое время суток, для женщин дополнительно: в тот же период цикла.
	+modal({
		'id': 'prepModal',
		'className': 'gym-modal'
	})
		h3.modal__title Для получения более достоверных данных рекомендуется
		+list([
			'не употреблять пищу или напитки за 2 часа до проведения услуги',
			'осуществлять физическую нагрузку за 3 часа до проведения услуги'
		])
		p.service-subscriptions__text Повторное измерение желательно проходить в то же самое время суток, для женщин: в тот же период цикла.
	+modal({
		'id': 'prep1Modal',
		'className': 'gym-modal'
	})
		h3.modal__title Для получения более достоверных данных рекомендуется
		+list([
			'проходить исследование до физической нагрузки',
			'воздержаться за 2 часа до исследования от приема пищи, кофеиносодержащих напитков и курения'
		])
	+modal({
		'id': 'prep2Modal',
		'className': 'gym-modal'
	})
		h3.modal__title Для получения более достоверных данных рекомендуется
		+list([
			'проходить исследование до физической нагрузки',
			'воздержаться за 2 часа до исследования от приема пищи, кофеиносодержащих напитков и курения'
		])
		p.service-subscriptions__text Имеются противопоказания! Проконсультируйтесь со специалистом.
	+modal({
		'id': 'prep3Modal',
		'className': 'gym-modal'
	})
		h3.modal__title Для получения более достоверных данных рекомендуется
		+list([
			'проходить исследование до физической нагрузки',
			'воздержаться за 2 часа до исследования от приема пищи, кофеиносодержащих напитков и курения',
		])
		p.service-subscriptions__text Повторное измерение желательно проходить в то же самое время суток, для женщин: в тот же период цикла.