html {
	&.modalOpened {
		&, body {
			overflow: hidden;
			position: relative;
			height: 100%;
			max-height: 100vh;
			width: 100%;
		}
	}
}
.js__sculpt-link {
	cursor: pointer;
}
body {
	padding-top: $header-height;
	overflow-x: hidden; 
}
.container {
	width: 100%;
	max-width: map-get($breakpoints, 'lg');
	margin: 0 auto;
	position: relative;
	display: block;
	padding: 0 15px;
	max-height: 100%;
}

.clearfix {
	display: block;
	height: 0;
	clear: both;
}
.title {
	font-family: "Deja Vu Sans Condensed";
	font-weight: 700;
	color: $dark-gray;
	font-size: 30px;
	text-align: center;
	margin: 100px 0;
	text-transform: uppercase;
	@include respond-below(md) {
		font-size: 24px;
		margin: 70px 0 65px 0;
	}
	position: relative;
	top: -30px;
	opacity: 0;
	left: -30px;
	-webkit-transition: top .3s linear .3s, left .3s linear .3s, opacity .3s linear .3s;
	   -moz-transition: top .3s linear .3s, left .3s linear .3s, opacity .3s linear .3s;
	    -ms-transition: top .3s linear .3s, left .3s linear .3s, opacity .3s linear .3s;
	     -o-transition: top .3s linear .3s, left .3s linear .3s, opacity .3s linear .3s;
	        transition: top .3s linear .3s, left .3s linear .3s, opacity .3s linear .3s;
	&._animated {
		top: 0;
		opacity: 1;
		left: 0;
	}
}
.subtitle {
	font-weight: 500;
	color: $dark-gray;
	font-size: 30px;
	text-transform: uppercase;
	&._center {
		text-align: center;
	}
	@include respond-below(md) {
		font-weight: 500;
		color: $dark-gray;
		font-size: 24px;
		line-height: 30px;
		text-transform: uppercase;
	}
}

.margin-top-140 {
	margin-top: 140px;
	@include respond-below(lg) {
		margin-top: 100px;
	}
	@include respond-below(md) {
		margin-top: 60px;
	}
}

.arrowed-link {
	font-weight: 500;
    color: #222;
    font-size: 18px;
    transition: color .3s linear;
    cursor: pointer;
    position: relative;
    &:after {
   	    content: "";
    	display: inline-block;
    	position: relative;
    	top: 3px;
    	right: -5px;
    	border-left: 10px solid #f54c28;
    	border-right: 10px solid transparent;
    	border-top: 8.5px solid transparent;
    	border-bottom: 8.5px solid transparent
    }
}