.content-block {
	padding: 0 95px;
	@media (max-width: 960px) {
		padding: 0;
	}
	h2 {
		font-weight: 500;
		color: $dark-gray;
		font-size: 30px;
		text-transform: uppercase;
		margin-bottom: 45px;
		@include respond-below(sm) {
			font-size: 23px;
			line-height: 32px;
		}
	}
	h3 {
		color: $dark-gray;
		font-size: 24px;
		margin: 40px 0;
		font-weight: 600;
		@include respond-below(md) {
			font-size: 20px;
			line-height: 27px;
		}
	}
	p {
		font-weight: 400;
		color: $dark-gray;
		font-size: 18px;
		line-height: 27px;
	}
	span {
		font-weight: 500;
	}
	ul {
		display: flex;
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-justify-content: flex-start;
		        justify-content: flex-start;
		 -webkit-align-items: flex-start;
		         align-items: flex-start;
		-webkit-flex-wrap: wrap;
		    -ms-flex-wrap: wrap;
		        flex-wrap: wrap;
		margin: 20px 0;
		li {
			max-width: 100%;
			padding-left: 30px;
			flex: 0 0 auto;
			color: $dark-gray;
			font-size: 18px;
			line-height: 30px;
			margin-bottom: 7px;
			@include respond-below(lg) {
				width: 100%;
			}
			@include respond-below(md) {
				padding-right: 0;
				color: $dark-gray;
				font-size: 18px;
				line-height: 27px;
				padding-left: 10px;
			}
			display: flex;
			-webkit-flex-direction: row;
			    -ms-flex-direction: row;
			        flex-direction: row;
			-webkit-justify-content: flex-start;
			        justify-content: flex-start;
			-webkit-align-items: flex-start;
			        align-items: flex-start;
			&:before {
				width: 12px;
				height: 12px;
				display: block;
				max-width: 12px;
				flex: 0 0 12px;
				top: 10px;
				margin-right: 12px;
				background: $orange;
				content: "";
				position: relative;
				overflow: hidden;
			}
		}
	}
	& + .content-block {
		margin-top: 100px;
	}
	a {
		color: $dark-gray;
		width: 100%;
		display: block;
		font-size: 20px;
		line-height: 24px;
		-webkit-transition: color .3s linear;
		   -moz-transition: color .3s linear;
		    -ms-transition: color .3s linear;
		     -o-transition: color .3s linear;
		        transition: color .3s linear;
		position: relative;
		margin-top: 40px;
		&:after {
			content: "";
			width: 10px;
			height: 17px;
			display: inline-block;
			position: relative;
			top: 2px;
			margin-left: 7px;
			border-left: 10px solid $orange;
			border-right: 10px solid transparent;
			border-top: 8.5px solid transparent;
			border-bottom: 8.5px solid transparent;
		}
		&:hover {
			color: $orange;
		}
	}
}