#team__tables {
	position: relative;
}
.team-section {
	display: flex;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-justify-content: flex-start;
	        justify-content: flex-start;
	-webkit-align-items: flex-start;
	        align-items: flex-start;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
	padding-top: 60px;
	display: none;
	&._active {
		display: flex;
	}
	.team-section__person {
		width: calc((100% - 90px)/4);
		max-width: calc((100% - 90px)/4);
		flex: 0 0 calc((100% - 90px)/4);
		cursor: pointer;
		opacity: 1;
		position: relative;
		-webkit-transition: opacity .5s linear .3s;
					   -moz-transition: opacity .5s linear .3s;
					    -ms-transition: opacity .5s linear .3s;
					     -o-transition: opacity .5s linear .3s;
					        transition: opacity .5s linear .3s;
		&:not(:nth-child(4n)) {
			margin-right: 30px;
		}
		@include respond-below(lg) {
			width: calc((100% - 60px)/3);
			max-width: calc((100% - 60px)/3);
			flex: 0 0 calc((100% - 60px)/3);
			&:not(:nth-child(4n)) {
				margin-right: 0px;
			}
			&:not(:nth-child(3n)) {
				margin-right: 30px;
			}
		}
		@media (max-width: 870px) {
			width: calc((100% - 30px)/2);
			max-width: calc((100% - 30px)/2);
			flex: 0 0 calc((100% - 30px)/2);
			&:not(:nth-child(3n)) {
				margin-right: 0px;
			}
			&:not(:nth-child(2n)) {
				margin-right: 30px;
			}
		}
		@media (max-width: 550px) {
			width: 100%;
			max-width: 100%;
			flex: 0 0 100%;
			&:not(:nth-child(3n)) {
				margin-right: 0px;
			}
			&:not(:nth-child(2n)) {
				margin-right: 0;
			}
		}
		margin-bottom: 40px;
		picture, source, img {
			width: 100%;
			height: 346px;
			object-fit: cover;
			object-position: center top;
			filter: grayscale(100%);
			opacity: 1;
			-webkit-transition: opacity .3s linear .2s; 
			   -moz-transition: opacity .3s linear .2s; 
			    -ms-transition: opacity .3s linear .2s; 
			     -o-transition: opacity .3s linear .2s; 
			        transition: opacity .3s linear .2s; 
		}
		picture.colored__photo, .colored__photo img, .colored__photo source {
			width: 100%;
			height: 346px;
			object-fit: cover;
			object-position: center top;
			opacity: 0;
			filter: none;
			-webkit-transition: opacity .3s linear;
			   -moz-transition: opacity .3s linear;
			    -ms-transition: opacity .3s linear;
			     -o-transition: opacity .3s linear;
			        transition: opacity .3s linear;
			position: absolute;
			top: 0;
			left: 0;
		}
		@media (max-width: 870px) {
			picture, source, img {
				height: auto;
			}
			picture.colored__photo, .colored__photo img, .colored__photo source {
				height: auto;
			}
		}
		.team-section__person--name {
			display: block;
			width: 100%;
			min-height: 120px;
			text-align: center;
			color: $dark-gray;
			font-size: 24px;
			text-transform: uppercase;
			font-weight: 600;
			padding: 30px 0;
			-webkit-transition: color .3s linear;
			   -moz-transition: color .3s linear;
			    -ms-transition: color .3s linear;
			     -o-transition: color .3s linear;
			        transition: color .3s linear;
		}
		&:hover {
			picture, source, img {
				position: absolute;
				top: 0;
				opacity: 0;
				-webkit-transition: opacity .3s linear;
				   -moz-transition: opacity .3s linear;
				    -ms-transition: opacity .3s linear;
				     -o-transition: opacity .3s linear;
				        transition: opacity .3s linear;
			}
			.colored__photo, .colored__photo img, .colored__photo source {
				position: relative;
				opacity: 1;
				-webkit-transition: opacity .3s linear .2s;
				   -moz-transition: opacity .3s linear .2s;
				    -ms-transition: opacity .3s linear .2s;
				     -o-transition: opacity .3s linear .2s;
				        transition: opacity .3s linear .2s;
			}
			.team-section__person--name {
				color: $orange;
			}
		}
	}
	&._hidding {
		.team-section__person {
			opacity: 0;
		}
	}
	&._waiting {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		left: 0;
		.team-section__person {
			opacity: 0;
		}
	}
	&._showing {
		.team-section__person {
				opacity: 1;
		}
	}
}