.service-line {
	width: 50%;
	flex: 0 0 50%;
	max-width: 50%;
	padding-right: 0;
	padding-left: 95px;
	position: relative;
	.service-line__item {
		& + .service-line__item {
			margin-top: 150px;
		}
	}
	.service-line__quote {
		width: 50vw;
		height: auto;
		&:not(:last-child) {
			margin-bottom: 90px;
		}
		&:last-child {
			margin-top: 120px;
		}
		position: relative;
		left: -95px;
		@include respond-below(lg) {
			left: -30px;
			.quote {
				padding-right: 50px;
			}
		}
		&._left {
			left: auto;
			right: calc(50vw - 570px);
			@include respond-below(lg) {
				right: 30px;
			}
			@media (max-width: 900px) {
				left: -15px;
				.quote {
					padding-left:30px !important;
					display: flex;
					-webkit-flex-direction: row;
					    -ms-flex-direction: row;
					        flex-direction: row;
					-webkit-justify-content: flex-end;
					        justify-content: flex-end;
					-webkit-align-items: center;
					        align-items: center;
					padding: 30px 30px 30px 70px;
					&:after {
						left: 10px;
					}
					&:before {
						left: auto;
						right: 30px;
					}
				}
			}
		}
	}
	&:first-child {
		padding-right: 95px;
		padding-left: 0;
	}
	@include respond-below(lg) {
		padding-left: 30px;
		.service-line__quote {
			.quote {
				padding-left: 50px;
			}
		}
		&:first-child {
			padding-right: 30px;
		}
	}
}

@media (max-width: 900px) {
	.service-line {
		width: 100%;
		flex: 0 0 100%;
		max-width: 100%;
		padding-left: 0;
		padding-right: 0 !important;
		.service-line__item {
			& + .service-line__item {
				margin-top: 100px;
			}
		}
		.service-line__quote {
			padding: 0 !important;
			position: relative;
			&:not(:last-child) {
				margin-bottom: 100px;
			}
			width: 100vw;
			left: -15px;
		}
		&:not(:first-child) {
			margin-bottom: 100px;
		}
	}
}
.service-line__item {
	display: flex;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-align-items: flex-start;
	        align-items: flex-start;
	-webkit-justify-content: flex-start;
	        justify-content: flex-start;
	.service-line__item--head {
		display: flex;
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-align-items: flex-start;
		        align-items: flex-start;
		-webkit-justify-content: flex-start;
		        justify-content: flex-start;
		    width: 100%;
		    max-width: 100%;
		.service-line__item--icon {
			width: 67px;
			height: 67px;
			flex: 0 0 67px;
			color: transparent;
			margin-right: 18px;
			svg {
				width: 100%;
				height: 100%;
			}
		}
		.service-line__item--number {
			font-family: "Deja Vu Sans";
			font-weight: 700;
			color: $orange;
			font-size: 50px;
			width: auto;
			height: auto;
			display: inline-block;
			margin-right: 20px;
			@media (max-width: 900px) {
				font-size: 40px;
			}
		}
		.service-line__item--title {
			font-weight: 500;
			color: $dark-gray;
			font-size: 30px;
			text-transform: uppercase;
			line-height: 50px;
			@media (max-width: 900px) {
				font-size: 24px;
				line-height: 32px;
			}
		}
	}
	.service-line__item--body {
		margin-top: 47px;
		color: $dark-gray;
		font-size: 18px;
		line-height: 30px;
		width: 100%;
		max-width: 100%;
		.list {
			.list__item {
				max-width: 100%;
				width: 100%;
				padding-right: 0;
			}
		}
		.service-line__item--link {
			font-weight: 500;
			color: $dark-gray;
			font-size: 20px;
			margin-top: 40px;
			display: inline-block;
			position: relative;
			-webkit-transition: color .3s linear;
			   -moz-transition: color .3s linear;
			    -ms-transition: color .3s linear;
			     -o-transition: color .3s linear;
			        transition: color .3s linear;
			&:hover {
				color: $orange;
			}
			&:after {
				content: "";
				display: block;
				position: absolute;
				top: 8px;
				right: -30px;
				border-left: 10px solid $orange;
				border-right: 10px solid transparent;
				border-top: 8.5px solid transparent;
				border-bottom: 8.5px solid transparent;
			}
			@media (min-width: 900px) {
				&._margin-top {
					margin-top: 150px;
				}
			}
		}
	}
}
.mobile__line {
	display: none;
	@media (max-width: 900px) {
		display: block;
		width: 100%;
		height: auto;
	}
}