.service-head {
	width: 100%;
	.service-head__inner {
		width: 100%;
		height: auto;
		position: relative;
		padding: 29.5% 0 0 120px;
		@media (max-width: 960px) {
			padding: 29.5% 0 0 0;
			@include respond-below(md) {
				padding-top: 0;
			}
			display: flex;
			-webkit-flex-direction: column;
			    -ms-flex-direction: column;
			        flex-direction: column;
			-webkit-justify-content: flex-start;
			        justify-content: flex-start;
			-webkit-align-items: center;
			        align-items: center;
		}
		.service-head__image {
			width: 100%;
			max-height: 442px;
			height: auto;
			position: absolute;
			@media (max-width: 960px) {
				min-height: 150px
			}
			@include respond-below(md) {
				position: static;
			}
			z-index: 0;
			top: 0;
			left: 0;
			picture {
				width: 100%;
				height: auto;
				display: block;
				@media (max-width: 960px) {
					min-height: 150px
				}
				img, source {
					@media (max-width: 960px) {
						min-height: 150px
					}
					width: 100%;
					max-height: 442px;
					height: auto;
					object-fit: cover;
					object-position: center;
					font-family: "object-fit: cover; object-position: center;";
				}
			}
		}
		.service-head__content {
			box-shadow: 0 1px 6px rgba(0, 87, 146, 0.15);
			background-color: #ffffff;
			width: 716px;
			@media (max-width: 960px) {
				width: auto;
				top: -10px;
			}
			padding: 85px 105px;
			&.service-head__long {
				padding: 85px 80px;
				@media (max-width: 767px) {
					padding: 50px 20px
				}
			}
			height: auto;
			min-height: 270px;
			position: relative;
			z-index: 1;
			@include respond-below(md) {
				width: 100%;
				min-height: auto;
				padding: 50px 20px;
			}
			.service-head__content--title {
				font-weight: 500;
				color: $dark-gray;
				font-size: 20px;
				margin-bottom: 50px;
				text-align: center;
			}
			.service-head__content--text {
				color: $dark-gray;
				font-size: 20px;
				line-height: 36px;
				&._center {
					text-align: center;
					svg {
						width: 30px;
						height: 30px;
						color: #fff;
						margin-right: 5px;
						position: relative;
						top: 7px;
					}
				}
			}
			.button {
				position: absolute;
				right: -160px;
				bottom: 40px;
				@include respond-below(lg) {
					right: -80px;
					bottom: 20px;
				}
				@media (max-width: 960px) {
					position: static;
					margin: 45px auto 0 auto;
				}
				@include respond-below(sm) {
					max-width: 100%;
				}
			}
		}
	}
	margin-bottom: 125px;
}
