.lfk-types__container {
	width: 100%;
	position: relative;
}
.lfk-types__single-type {
	// position: absolute;
	// top: 0;
	// left: 0;
	// opacity: 0;
	margin-top: 67px;
	.subtitle {
		margin-bottom: 45px;
	}
	.photo-item {
		margin-bottom: 150px;
		@include respond-below(md) {
			margin-bottom: 100px;
		}
	}
	
	display: none;
	user-select: none;
	visibility: hidden;
	-webkit-transition: opacity .5s ease-in-out, visibility 0s ease-in-out .5s;
	   -moz-transition: opacity .5s ease-in-out, visibility 0s ease-in-out .5s;
	    -ms-transition: opacity .5s ease-in-out, visibility 0s ease-in-out .5s;
	     -o-transition: opacity .5s ease-in-out, visibility 0s ease-in-out .5s;
	        transition: opacity .5s ease-in-out, visibility 0s ease-in-out .5s;
	
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	
	.list {
		.list__item:nth-child(2n) {
			padding-right: 0;
		}
	}
	&._active {
		display: block;
		opacity: 1;
		-webkit-user-select: auto;
		   -moz-user-select: auto;
		    -ms-user-select: auto;
		        user-select: auto;
		visibility: visible;
		-webkit-transition: opacity .5s ease-in-out, visibility 0s ease-in-out;
		   -moz-transition: opacity .5s ease-in-out, visibility 0s ease-in-out;
		    -ms-transition: opacity .5s ease-in-out, visibility 0s ease-in-out;
		     -o-transition: opacity .5s ease-in-out, visibility 0s ease-in-out;
		        transition: opacity .5s ease-in-out, visibility 0s ease-in-out;
	}
}