.gallery-events {
	width: 100%;
	height: auto;
	display: grid;
	// -webkit-flex-direction: row;
	//     -ms-flex-direction: row;
	//         flex-direction: row;
	// -webkit-justify-content: space-between;
	//         justify-content: space-between;
	// -webkit-flex-wrap: wrap;
	//     -ms-flex-wrap: wrap;
	//         flex-wrap: wrap;
	// -webkit-align-items: flex-start;
	//         align-items: flex-start;
	grid-gap: 0 30px;
	grid-template-columns: repeat(3, calc((100% - 60px)/3));
	@media (max-width:800px) {
		grid-template-columns: repeat(2, calc((100% - 20px)/2));
		grid-gap: 0 20px;
	}
	@media (max-width:550px) {
		grid-template-columns: 100%;
		grid-gap: 0;
	}
}
.gallery-events__single {
	width: 100%;
	max-width: 100%;
	display: flex;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-justify-content: flex-start;
	        justify-content: flex-start;
	-webkit-align-items: stretch;
	        align-items: stretch;
	margin-bottom: 50px; 
	@media (max-width:800px){
		margin-bottom: 30px;
	}
	.gallery-events__single--image {
		flex: 0 0 180px;
		height: 180px;
		width: 100%;
		overflow: hidden;
		filter: grayscale(100%);
		-webkit-transition: filter .3s linear;
		   -moz-transition: filter .3s linear;
		    -ms-transition: filter .3s linear;
		     -o-transition: filter .3s linear;
		        transition: filter .3s linear;
		picture, source, img{
			min-height: 100%;
			width: 100%;
			object-fit: cover;
			object-position: center top;
		}
	}
	.gallery-events__single--name {
		width: 100%;
		height: auto;
		flex: 0 0 auto;
		padding: 17px 20px;
		display: flex;
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-justify-content: flex-end;
		        justify-content: flex-end;
		-webkit-align-items: flex-start;
		        align-items: flex-start;
		color: $dark-gray;
		font-size: 24px;
		line-height: 32px;
		@media (max-width: 800px) {
			font-size: 20px;
			line-height: 30px;
		}
		text-align: right;
		font-weight: 600;
		-webkit-transition: color .3s linear;
		   -moz-transition: color .3s linear;
		    -ms-transition: color .3s linear;
		     -o-transition: color .3s linear;
		        transition: color .3s linear;
	}
	&:hover {
		.gallery-events__single--image {
			filter: grayscale(0)
		}
		.gallery-events__single--name {
			color: $orange;
		}
	}
}