extends ../layout.pug

block content
	include ../../components/serviceHead/serviceHead.pug
	include ../../components/serviceLine/serviceLine.pug
	include ../../components/reviewsList/reviewsList.pug
	include ../../components/list/list.pug
	include ../../components/form/form.pug
	include ../../components/modal/modal.pug
	include ../../components/lfkTypesNav/lfkTypesNav.pug
	include ../../components/lfkType/lfkType.pug
	include ../../components/photoItem/photoItem.pug
	.lfk-page
		.container
			h1.title ЛЕЧЕБНАЯ ФИЗКУЛЬТУРА
			+serviceHead({
				'image': './assets/images/content/complex/main_complex',
				'text': 'В нашем клубе ЛФК проводится на малом оборудовании, тренажерах, а также реабилитационной установке «Экзарта». Реабилитация включает массаж и тейпирование.',
				'className': 'service-head__long',
				'buttonId': 'lfkButton',
				'buttonText': 'Виды услуг'
			})
			.service-trainer
				h2.subtitle Показания для назначения ЛФК
				+list([
					'заболевания опорно-двигательного аппарата (остеохондрозы, спондилолистезы, грыжи межпозвоночных дисков, артрозы, артриты, тендиниты, миозиты и т.п.)',
					'заболевания сердечно-сосудистой системы (сердечная недостаточность, артериальная гипертензия, ишемическая болезнь сердца и т.п.)',
					'заболевания дыхательной системы (бронхиты, бронхиальная астма, дыхательная недостаточность и т.п.)',
					'нарушения осанки (сколиозы, патологические кифозы и лордозы)',
					'реабилитация после инсультов и парезов, детских церебральных параличей',
					'реабилитация после травм и операций',
				])
			.service-rules
				p.subtitle ЗАПИСЬ к врачу по лечебной физкультуре
				.service-rules__inner._modified
					.service-rules__inner--text
						p Запись на услуги врача по лечебной физкультуре осуществляется в кабинете спортивной медицины или по телефону 
							a(href="tel:3801027") 380-10-27
						p
							span.colored-text Обращаем внимание! 
							| При первичном посещении услуг врача по лечебной физкультуре, спортивной медицине необходимо прийти на 15 минут раньше назначенного времени сеанса. При себе необходимо иметь паспорт для заключения договора об оказании платных медицинских услуг (Постановление Правительства РФ от 4 октября 2012 г. № 1006 «Об утверждении Правил предоставления медицинскими организациями платных медицинских услуг»).
					.service-rules__inner--links
						a(target="_blank" href="https://kindofheaven.ru/leader/team.html#lfk") Специалисты
						a(target="_blank" href="https://vk.com/topic-47542824_39539924") Акции кабинета ЛФК
			+reviewsList({
				'items': [{
				'text': 'Лидер Спорт – это фитнес международного уровня. Решая проблемы с позвоночником, я пришла в этот центр к врачу Алексею Мельникову. Серьёзный, внимательный, думающий специалист предложил мне комплексную терапию: массаж, индивидуальный набор упражнений для позвоночника и тейпирование. Я также с удовольствием прошла курс массажа. Многие наши болячки появляются от малоподвижного образа жизни или беспечного отношения к своему здоровью. Клуб «Лидер Спорт» помогает сохранить бодрость, хорошее настроение и здоровье.',
				'link': 'https://vk.com/topic-17283_29515163?post=18951',
				'name': 'Наталья Кравченко',
				'image': './assets/images/content/review.png'
			},{
				'text': 'Хочу выразить огромную благодарность врачу Алексею и массажисту Людмиле, они буквально вдохновили в меня надежду! Обратилась к Алексею в связи с обнаруженными межпозвоночными грыжами. Расстройству психическому не было предела, руки опускались сами собой. Алексей предложил пройти полный курс реабилитации, спустя 1,5&nbsp;месяца боли прошли и эмоциональное состояние поднялось. Огромное Вам спасибо!',
				'link': 'https://vk.com/topic-17283_29515163?post=19059',
				'name': 'Кристина Паращук',
				'image': './assets/images/content/review.png'
			}], 'link': 'https://vk.com/topic-17283_29515163'})
			.lfk-types
				p.title ВИДЫ УСЛУГ
				+lfkTypesNav([
					{
						'text': 'ЛЕЧЕБНАЯ ФИЗКУЛЬТУРА (ЛФК)',
						'href': 'lfk'
					},
					{
						'text': 'Реабилитационная установка Экзарта',
						'href': 'reabilitation'
					},
					{
						'text': 'Комплексная реабилитация',
						'href': 'complex'
					}	
				])
				.lfk-types__container
					+lfkType({
						'anchor': 'lfk',
						'className': '_active'
					})
						p.subtitle ЛЕЧЕБНАЯ ФИЗКУЛЬТУРА (ЛФК)
						+photoItem({
							'text': '<p>ЛФК (лечебная физкультура) направлена на устранение болезни или травмы, которые ограничивают способность человека двигаться и выполнять функциональные действия в повседневной жизни, с помощью механических усилий и движений (биомеханика или кинезиология), ручного воздействия и лечебных упражнений.</p>',
							'image': './assets/images/content/complex/lider_sport_lfk'
						})
						p.subtitle наши преимущества
						+list([
							'индивидуальные занятия под присмотром врача лечебной физкультуры',
							'современное реабилитационное оборудование TheraBand, широкая линейка тренажеров',
							'использование эффективных западных разработок и новейших рекомендаций в реабилитации'
						])
						.service-subscriptions._centered
							p.subtitle СТОИМОСТЬ ПЕРСОНАЛЬНОГО ЗАНЯТИЯ
							.service-subscriptions__list
								.service-subscriptions__item
									p.service-subscriptions__item--amount ЛФК (30&nbsp;минут)
									.service-subscriptions__item--payment 1&nbsp;000&nbsp;руб./сеанс
								.service-subscriptions__item
									p.service-subscriptions__item--amount ЛФК (50&nbsp;минут)
									.service-subscriptions__item--payment 1&nbsp;500&nbsp;руб./сеанс	
								.service-subscriptions__item
									p.service-subscriptions__item--amount Составление комплекса ЛФК
									.service-subscriptions__item--payment 1&nbsp;500&nbsp;руб.
								.service-subscriptions__item
									p.service-subscriptions__item--amount Составление комплекса ЛФК + 1&nbsp;анятие
									.service-subscriptions__item--payment 2&nbsp;000&nbsp;руб.
								+button({
									"link" : 'javascript:void(0)',
									'text': 'Записаться',
									'className': '_colored modal__open',
									'id': 'formModal__open'
								})
					+lfkType({
						'anchor': 'reabilitation'
					})
						p.subtitle реабилитационная установка «ЭКЗАРТА»
						+photoItem({
							'text': '<p>История применения подвесных систем в реабилитации насчитывает более десяти лет. Существует масса таких систем, но наиболее сбалансированная модификация по показателям «удобство-надёжность-эффективность» удалась норвежским специалистам и представлена кинезитерапевтической установкой «RedCord». В Лидер Спорт мы используем лицензионную реплику «RedCord» — кинезитерапевтическую установку отечественного производства «Экзарта».</p>',
							'image': './assets/images/content/complex/ekzarta'
						})
						p.subtitle основные преимущества
						+list([
							'проведение занятия даже при наличии острого болевого синдрома позволяет снизить медикаментозную терапию и начать реабилитацию как можно раньше',
							'быстрый и в то же время длительный эффект уже после первого сеанса',
							'устранение источника боли, а не её внешних признаков',
							'минимальное влияние гравитации на движения',
							'сенсомоторная тренировка — тренировка 3D',
							'формирования правильного двигательного стереотипа',
							'подбор необходимых упражнений и нагрузки для людей с любой степенью физической активности и весом до 120 кг'
						])
						a.arrowed-link(href="javascript:void(0)") Реабилитационная методика Neurac на установке Экзарта
						.service-subscriptions._left._resize
							p.subtitle СТОИМОСТЬ ПЕРСОНАЛЬНОГО ЗАНЯТИЯ
							.service-subscriptions__list
								.service-subscriptions__item
									p.service-subscriptions__item--amount «Экзарта» (30&nbsp;минут)
									.service-subscriptions__item--payment 1&nbsp;000&nbsp;руб./сеанс
								.service-subscriptions__item
									p.service-subscriptions__item--amount «Экзарта» (50&nbsp;минут)
									.service-subscriptions__item--payment 1&nbsp;500&nbsp;руб./сеанс
								+button({
									"link" : 'javascript:void(0)',
									'text': 'Записаться',
									'className': '_colored modal__open',
									'id': 'formModal__open'
								})
					+lfkType({
						'anchor': 'complex'
					})
						p.subtitle комплексная реабилитация
						+photoItem({
							'text': '<p>Врач лечебной физкультуры использует медицинскую историю и физическое обследование пациента и, при необходимости, результаты лабораторных и дополнительных методов исследований, таких как рентген, КТ или МРТ  для составления прогноза и реабилитационного плана.</p>',
							'image': './assets/images/content/complex/compleks'
						})
						p.subtitle реабилитация включает
						+list([
							'индивидуальные занятия лечебной физкультурой с врачом, в том числе на реабилитационной установке Экзарта',
							'медицинский лечебный массаж',
							'кинезиологическое тейпирование'
						])
						.service-subscriptions._left._resize
							p.subtitle СТОИМОСТЬ КОМПЛЕКСОВ РЕАБИЛИТАЦИИ:
							.service-subscriptions__list
								.service-subscriptions__item
									p.service-subscriptions__item--amount Комплекс №1 (-20%)*
									.service-subscriptions__item--payment 11&nbsp;900&nbsp;руб. 
								.service-subscriptions__item
									p.service-subscriptions__item--amount Комплекс №2 (-25%)**
									.service-subscriptions__item--payment 22&nbsp;450&nbsp;руб.
								+button({
									"link" : 'javascript:void(0)',
									'text': 'Записаться',
									'className': '_colored modal__open',
									'id': 'formModal__open'
								})
							p.service-subscriptions__text *Реабилитационный комплекс № 1 (5&nbsp;занятий лфк, 3&nbsp;сеанса массажа, 2&nbsp;зоны кинезиотейпирования).  Цена без скидки 14&nbsp;600&nbsp;рублей.
							p.service-subscriptions__text **Реабилитационный комплекс № 2 (10&nbsp;занятий лфк, 6&nbsp;сеансов массажа, 4&nbsp;зоны кинезиотейпирования).  Цена без скидки 29&nbsp;200&nbsp;рублей.
							p.service-subscriptions__text 
								span Внимание! 
								| Скидка предоставляется только при единовременной оплате всех услуг входящих в выбранный комплекс.
		+form('lfk-form')
	+modal({
		'id': 'formModal',
		'className': 'sub-modal'
	})
		p.sub-modal--title ОСТАВЬ ЗАЯВКУ И МЫ СВЯЖЕМСЯ С ТОБОЙ<br> В БЛИЖАЙШЕЕ ВРЕМЯ
		form
			.form__inputs
				+input({'text': 'Имя', 'id': 'yoganame', 'name': 'name', 'required': true, 'type': 'text'})
				+input({'text': 'Телефон', 'id': 'yogaphone', 'name': 'phone', 'required': true, 'type': 'text','className': 'phone-input'})
			+agree({'id': 'yogaagreement', 'name': 'agreement'})
			+button({'id': 'yogaformSectionButton', 'text': 'Записаться'})