extends ../layout.pug

block content
	include ../../components/serviceHead/serviceHead.pug
	include ../../components/serviceLine/serviceLine.pug
	include ../../components/reviewsList/reviewsList.pug
	include ../../components/list/list.pug
	include ../../components/form/form.pug
	include ../../components/modal/modal.pug
	include ../../components/lfkTypesNav/lfkTypesNav.pug
	include ../../components/lfkType/lfkType.pug
	include ../../components/photoItem/photoItem.pug
	.lfk-page
		.container
			h1.title МАССАЖ
			+serviceHead({
				'image': './assets/images/content/massage/massage_main',
				'text': 'Мы предлагаем вам большой выбор разнообразных видов массажа. С вами будут работать только квалифицированные специалисты с опытом работы более 20 лет.',
				'className': 'service-head__long',
				'buttonId': 'lfkButton',
				'buttonText': 'Виды массажа'
			})
			.service-rules
				p.subtitle ЗАПИСЬ НА МАССАЖ
				.service-rules__inner._modified
					.service-rules__inner--text
						p Запись на массаж осуществляется в кабинете спортивной медицины или по телефону 
							a(href="tel:3801027") 380-10-27
						p
							span.colored-text Обращаем внимание! 
							| При первичном посещении услуг массажиста необходимо прийти на 15 минут раньше назначенного времени&nbsp;сеанса. При себе необходимо иметь паспорт для заключения договора об оказании платных медицинских услуг (Постановление Правительства РФ от 4 октября 2012 г. № 1006 «Об утверждении Правил предоставления медицинскими организациями платных медицинских услуг»).
					.service-rules__inner--links
						a(target="_blank" href="https://kindofheaven.ru/leader/team.html#massage") Специалисты
						a(target="_blank" href="https://vk.com/topic-47542824_39539530") Акции массажного кабинета
			+reviewsList({'items': [{
				'text': 'А я хожу на массаж лица к Людмиле Чайка )) Очень довольна. Глазки открылись, поплывший овал подтянулся.. Да и просто очень приятно..  Релакс и польза )) Да! И цены! Что немаловажно.. В другом месте не могла себе позволить такого удовольствия...',
				'link': 'https://vk.com/topic-17283_29515163?post=19810',
				'name': 'Наталия Мосунова',
				'image': './assets/images/content/review.png'
			},{
				'text': 'Замечательный специалист и мастер своего дела — массажист Боролдаева Светлана. Руками чувствует проблемные места. Очень заботливо и внимательно относится к клиентам, к каждому свой индивидуальный подход. Невероятно понравился курс тибетского массажа, все проблемные зоны были убраны. При первой же возможности еще раз повторю.',
				'link': 'https://vk.com/topic-17283_29515163?post=20042',
				'name': 'Динара Абакова',
				'image': './assets/images/content/review.png'
			},{
				'text': 'У меня гипертонус мышц шейного отдела, головные боли, после трёх сеансов стало намного легче. Людмила прощупывает каждую мышцу, растягивает и снимает боль. Дочка тоже проходит курс массажа у Людмилы, исправляем сколиоз и мышечный тонус. С нетерпением ждёт новый сеанс и бежит вприпрыжку на массаж.',
				'link': 'https://vk.com/topic-17283_29515163?post=18908',
				'name': 'Алена Маркова',
				'image': './assets/images/content/review.png'
			}], 'link': 'https://vk.com/topic-17283_29515163'})
			.lfk-types
				p.title ВИДЫ МАССАЖА
				+lfkTypesNav([
					{
						'text': 'мАССАЖ ЛИЦА',
						'href': 'face'
					},
					{
						'text': 'мАССАЖ СТОП',
						'href': 'foot'
					},
					{
						'text': 'КЛАССИЧЕСКИЙ МАССАЖ',
						'href': 'classic'
					},
					{
						'text': 'СКУЛЬПТУРИРУЮЩИЙ МАССАЖ',
						'href': 'sculpt'
					},
					{
						'text': 'ХАКИМ МАССАЖ',
						'href': 'hakim'
					},
					{
						'text': 'АНТИЦЕЛЛЮЛИТНЫЙ МАССАЖ',
						'href': 'cellulite'
					},
					{
						'text': 'ОБЕРТЫВАНИЕ',
						'href': 'wrapping'
					},
					{
						'text': 'ВАКУУМНЫЙ АППАРАТНЫЙ МАССАЖ',
						'href': 'vacuum'
					},
					{
						'text': 'БАНОЧНЫЙ МАССАЖ',
						'href': 'canned'
					},
					{
						'text': 'ЛИМФОДРЕНАЖНЫЙ МАССАЖ',
						'href': 'lymphatic'
					},
					{
						'text': 'ТИБЕТСКИЙ МАССАЖ',
						'href': 'tibet'
					},
					{
						'text': 'ЛЕЧЕБНЫЙ МАССАЖ',
						'href': 'healing'
					},
					{
						'text': 'ДЕТСКИЙ МАССАЖ',
						'href': 'child'
					},
					{
						'text': 'СТОУН МАССАЖ',
						'href': 'stone'
					}
				])
				.lfk-types__container
					+lfkType({
						'anchor': 'face',
						'className': '_active'
					})
						p.subtitle МАССАЖ ЛИЦА
						+photoItem({
							'text': '<p>Процедура позволяет улучшить кровообращение и нормализовать обмен веществ в клетках кожи, вернуть мышцам и тканям тонус, сократить количество косметических морщин, улучшить общее состояние кожи и сохранить её красивой как можно дольше. Помимо выраженного косметического эффекта, массаж лица помогает регулировать работу тела в целом.</p>',
							'image': './assets/images/content/massage/face'
						})
						p.subtitle Виды массажа лица
						+list([
							'классический массаж лица',
							'буккальный массаж лица',
							'скульптурный массаж лица',
							'вакуумный (баночный) массаж лица',
							'щипковый массаж лица (Массаж лица по Жаке)',
						])
						.service-subscriptions._left
							p.subtitle СТОИМОСТЬ МАССАЖА ЛИЦА
							.service-subscriptions__list
								.service-subscriptions__item
									p.service-subscriptions__item--amount Массаж (30&nbsp;минут)
									.service-subscriptions__item--payment 800 руб./сеанс
								.service-subscriptions__item
									p.service-subscriptions__item--amount Абонемент (5&nbsp&nbsp;сеансов)
									.service-subscriptions__item--payment 3 600 руб.
								.service-subscriptions__item
									p.service-subscriptions__item--amount Абонемент (10&nbsp&nbsp;сеансов)
									.service-subscriptions__item--payment 6 800 руб.
								+button({
									"link" : 'javascript:void(0)',
									'text': 'Записаться',
									'className': '_colored modal__open',
									'id': 'formModal__open'
								})
							p.service-subscriptions__text 
								| *Специалисты по массажу лица: 
								a(href="https://kindofheaven.ru/leader/team.html#massage_chaika") Чайка Людмила
					+lfkType({
						'anchor': 'foot'
					})
						p.subtitle МАССАЖ стоп
						+photoItem({
							'text': '<p>В Древнем Китае ступню считали важнейшей частью тела человека, второй по значимости после сердца. Подошву можно назвать своеобразной картой нашего тела: здесь расположено множество активных точек, каждая из которых связана с определенным внутренним органом или системой посредством 300 нервных волокон.</p>',
							'image': './assets/images/content/massage/foot'
						})
						p.subtitle эффекты и цели массажа
						+list([
							'на 50% снижается уровень тревожности, наступает эмоциональное расслабление',
							'улучшается состояние ногтей и кожи стоп налаживается сон',
							'уменьшается болевой синдром от артроза, плоскостопия и фасциита (пяточной шпоры)',
							'устраняется отек ног, нормализуется артериальное давление',
						])
						.service-subscriptions._left
							p.subtitle СТОИМОСТЬ МАССАЖА СТОП И ГОЛЕНИ
							.service-subscriptions__list
								.service-subscriptions__item
									p.service-subscriptions__item--amount Массаж (15&nbsp;минут)
									.service-subscriptions__item--payment 450 руб./сеанс
								.service-subscriptions__item
									p.service-subscriptions__item--amount Абонемент (5&nbsp&nbsp;сеансов)
									.service-subscriptions__item--payment 2 050 руб.
								.service-subscriptions__item
									p.service-subscriptions__item--amount Абонемент (10&nbsp&nbsp;сеансов)
									.service-subscriptions__item--payment 3 850 руб.
								+button({
									"link" : 'javascript:void(0)',
									'text': 'Записаться',
									'className': '_colored modal__open',
									'id': 'formModal__open'
								})
							p.service-subscriptions__text 
								| *Специалисты по массажу стоп: 
								a(href="https://kindofheaven.ru/leader/team.html#massage_boroldaeva") Боролдаева Светлана, 
								a(href="https://kindofheaven.ru/leader/team.html#massage_chaika") Чайка Людмила
					+lfkType({
						'anchor': 'classic'
					})
						p.subtitle КЛАССИЧЕСКИЙ МАССАЖ
						+photoItem({
							'text': '<p>Мягкие ручные техники направлены на  устранение забитости (ригидности) мышц любой части тела.  Используются классические приемы массажа, доказавшие свою эффективность: растирание, разминание, поглаживание. Способствует быстрому восстановлению после тренировок, оказывает общерасслабляющий эффект.</p>',
							'image': './assets/images/content/massage/classic'
						})
						.service-subscriptions._left._high
							p.subtitle СТОИМОСТЬ КЛАССИЧЕСКОГО МАССАЖА
							.service-subscriptions__list
								.service-subscriptions__item
									p.service-subscriptions__item--amount Массаж (30&nbsp;минут)
									.service-subscriptions__item--payment 1 000&nbsp;руб./сеанс	
								.service-subscriptions__item
									p.service-subscriptions__item--amount Абонемент (30&nbsp;минут)
									.service-subscriptions__item--payment 4 900&nbsp;руб. /5&nbsp&nbsp;сеансов
								.service-subscriptions__item
									p.service-subscriptions__item--amount Абонемент (30&nbsp;минут)
									.service-subscriptions__item--payment 9 500&nbsp;руб./10&nbsp&nbsp;сеансов
							.service-subscriptions__list
								.service-subscriptions__item
									p.service-subscriptions__item--amount Массаж (60&nbsp;минут)
									.service-subscriptions__item--payment 1 600&nbsp;руб./сеанс
								.service-subscriptions__item
									p.service-subscriptions__item--amount Абонемент (60&nbsp;минут)
									.service-subscriptions__item--payment 6 950&nbsp;руб./5&nbsp&nbsp;сеансов
								.service-subscriptions__item
									p.service-subscriptions__item--amount Абонемент (60&nbsp;минут)
									.service-subscriptions__item--payment 13 200&nbsp;руб./10&nbsp&nbsp;сеансов
							.service-subscriptions__list
								.service-subscriptions__item
									p.service-subscriptions__item--amount Массаж (90&nbsp;минут)
									.service-subscriptions__item--payment 1 950&nbsp;руб./сеанс
								.service-subscriptions__item
									p.service-subscriptions__item--amount Абонемент (90&nbsp;минут)
									.service-subscriptions__item--payment 8 800&nbsp;руб./5&nbsp&nbsp;сеансов
								.service-subscriptions__item
									p.service-subscriptions__item--amount Абонемент (90&nbsp;минут)
									.service-subscriptions__item--payment 16 600&nbsp;руб./10&nbsp&nbsp;сеансов
								+button({
									"link" : 'javascript:void(0)',
									'text': 'Записаться',
									'className': '_colored modal__open',
									'id': 'formModal__open'
								})
							p.service-subscriptions__text 
								| *Специалисты по классическому массажу: 
								a(href="https://kindofheaven.ru/leader/team.html#massage_boroldaeva") Боролдаева Светлана, 
								a(href="https://kindofheaven.ru/leader/team.html#massage_chaika") Чайка Людмила
					+lfkType({
						'anchor': 'sculpt'
					})
						p.subtitle СКУЛЬПТУРИРУЮЩИЙ МАССАЖ (ПО ГРЕБЕННИКОВУ)
						+photoItem({
							'text': '<p>Предназначен в первую очередь для коррекции фигуры за счет уменьшения подкожно-жировой клетчатки, мягкая ручная техника, авторская методика Андрея Гребенникова. В результате эксперимента (1997-2005) было выявлено и неоднократно подтверждено уменьшение объемов (бедра и талии) до 3,5 см у лиц, получающих скульптурирующий массаж прицельно на эти области.</p>',
							'image': './assets/images/content/massage/sculpt'
						})
						p.subtitle ОСОБЕННОСТИ массажа
						+list([
							'прицельное уменьшение объемов за счет подкожно-жировой клетчатки',
							'эффект от курса массажа до полугода',
							'значительное уменьшение проявлений целлюлита',
							'обертывание с липолитическим эффектом в&nbsp;<strong>подарок**</strong>',
							'безболезненная методика коррекции фигуры',
						])
						.service-subscriptions._centered
							p.subtitle СТОИМОСТЬ СКУЛЬПТУРИРУЮЩЕГО МАССАЖ
							.service-subscriptions__list
								.service-subscriptions__item
									p.service-subscriptions__item--amount Массаж (60&nbsp;минут)
									.service-subscriptions__item--payment 1 750 руб./сеанс
								.service-subscriptions__item
									p.service-subscriptions__item--amount Абонемент (5&nbsp;сеансов)
									.service-subscriptions__item--payment 7 650 руб.
								.service-subscriptions__item
									p.service-subscriptions__item--amount Абонемент (10&nbsp;сеансов)
									.service-subscriptions__item--payment 14 450 руб.
								.service-subscriptions__item
									p.service-subscriptions__item--amount Обертывание***
									.service-subscriptions__item--payment 650 руб./сеанс
								+button({
									"link" : 'javascript:void(0)',
									'text': 'Записаться',
									'className': '_colored modal__open',
									'id': 'formModal__open'
								})
							p.service-subscriptions__text 
								| *Специалисты по скульптурирующему массажу: 
								a(href="https://kindofheaven.ru/leader/team.html#massage_chaika") Чайка Людмила
							p.service-subscriptions__text ** 1 процедура обертывания в подарок при покупке абонемента на скульптурирующий массаж
							p.service-subscriptions__text ***Обертывание с липолитическим эффектом
					+lfkType({
						'anchor': 'hakim'
					})
						p.subtitle ХАКИМ МАССАЖ
						+photoItem({
							'text': '<p>Хаким массаж — это мягкий терапевтический и энергетический массаж, дошедший до нас от целителей — дервишей хаким, практикующих его тысячелетие назад. </p>',
							'image': './assets/images/content/massage/hakim'
						})
						p.subtitle эффекты массажа
						+list([
							'восстановление и мягкое растяжение позвоночника',
							'стабилизация энергетического баланса',
							'улучшение функционирования всех органов тела',
							'ускорение вывода токсинов',
							'психическое равновесие',
						])
						.service-subscriptions._left
							p.subtitle СТОИМОСТЬ ХАКИМ МАССАЖА
							.service-subscriptions__list
								.service-subscriptions__item
									p.service-subscriptions__item--amount Массаж (60&nbsp;минут)
									.service-subscriptions__item--payment 1 600руб./сеанс
								.service-subscriptions__item
									p.service-subscriptions__item--amount Абонемент (5&nbsp;сеансов)
									.service-subscriptions__item--payment 6 950 руб.
								.service-subscriptions__item
									p.service-subscriptions__item--amount Абонемент (10&nbsp;сеансов)
									.service-subscriptions__item--payment 13 200 руб.
								+button({
									"link" : 'javascript:void(0)',
									'text': 'Записаться',
									'className': '_colored modal__open',
									'id': 'formModal__open'
								})
							p.service-subscriptions__text 
								| *Специалисты по хакким массажу: 
								a(href="https://kindofheaven.ru/leader/team.html#massage_chaika") Чайка Людмила
					+lfkType({
						'anchor': 'cellulite'
					})
						p.subtitle АНТИЦЕЛЛЮЛИТНЫЙ МАССАЖ
						+photoItem({
							'text': '<p>Целлюлит (липодистрофия) — это структурные изменения в подкожно-жировой клетчатке, ведущие к нарушению микроциркуляции и лимфатического тока. Для лечения целлюлита разработаны методики антицеллюлитного массажа. Основное действие данных видов массажа направлено на улучшение стенок кровеносных и лимфатических сосудов, улучшение кровотока и лимфодренажа, восстановление нормального метаболизма липидов в подкожно-жировой клетчатке, устранение узелков и фиброза ткани.</p>',
							'image': './assets/images/content/massage/anti'
						})
						p.subtitle ВИДЫ АНТИЦЕЛЛЮЛИТНОГО МАССАЖА
						+list([
							'<span class="js__sculpt-link" data-link="canned">баночный массаж</span>',
							'ручной антицеллюлитный массаж',
							'<span class="js__sculpt-link" data-link="sculpt">скульптурирующий массаж по Гребенникову</span>',
							'<span class="js__sculpt-link" data-link="vacuum">вакуумный аппаратный массаж</span>',
						])
						.service-subscriptions._left
							p.subtitle СТОИМОСТЬ АНТИЦЕЛЛЮЛИТНОГО МАССАЖА
							.service-subscriptions__list
								.service-subscriptions__item
									p.service-subscriptions__item--amount Массаж (60&nbsp;минут)
									.service-subscriptions__item--payment 1 750 руб./сеанс
								.service-subscriptions__item
									p.service-subscriptions__item--amount Абонемент (5&nbsp;сеансов)
									.service-subscriptions__item--payment 7 650 руб.
								.service-subscriptions__item
									p.service-subscriptions__item--amount Абонемент (10&nbsp;сеансов)
									.service-subscriptions__item--payment 14 450 руб.
								+button({
									"link" : 'javascript:void(0)',
									'text': 'Записаться',
									'className': '_colored modal__open',
									'id': 'formModal__open'
								})
							p.service-subscriptions__text *Специалисты по антицелллюлитному массажу: 
								a(href="https://kindofheaven.ru/leader/team.html#massage_boroldaeva") Боролдаева Светлана, 
								a(href="https://kindofheaven.ru/leader/team.html#massage_chaika") Чайка Людмила
					+lfkType({
						'anchor': 'wrapping'
					})
						p.subtitle ОБЕРТЫВАНИЕ С ВОДОРОСЛЯМИ
						+photoItem({
							'text': '<p>При соприкосновении кожи с ламинарией, насыщенной полезными веществами и минералами, часть минералов начинает впитываться через кожу, тогда как излишки тканевой жидкости, наоборот, как бы вытягиваются морской водой, которой насыщены водоросли. Избавленная от излишков тканевой жидкости кожа становится более здоровой и красивой: повышается ее тонус и эластичность, уменьшается целлюлит.</p>',
							'image': './assets/images/content/massage/obertivanie'
						})
						p.subtitle ЭФФЕКТЫ И ЦЕЛИ ОБЕРТЫВАНИЯ
						+list([
							'тонизирование и очищение кожи',
							'уменьшение проявлений целлюлита',
							'липолитический (жиросжигающий эффект)',
						], '_one-line')
						p.service-subscriptions__text
							| *Наибольший эффект от процедуры обертывания можно получить в сочетании со 
							span.bolder.js__sculpt-link(data-link="sculpt") скульптурирующим массажем 
							| по Гребенникову
						.service-subscriptions._left
							p.subtitle СТОИМОСТЬ ОБЕРТЫВАНИЯ
							.service-subscriptions__list
								.service-subscriptions__item
									p.service-subscriptions__item--amount Обертывание
									.service-subscriptions__item--payment 650 руб./сеанс
								.service-subscriptions__item
									p.service-subscriptions__item--amount Абонемент* (5&nbsp;сеансов)
									.service-subscriptions__item--payment 10 550 руб.
								.service-subscriptions__item
									p.service-subscriptions__item--amount Абонемент* (10&nbsp;сеансов)
									.service-subscriptions__item--payment 19 950 руб.
								+button({
									"link" : 'javascript:void(0)',
									'text': 'Записаться',
									'className': '_colored modal__open',
									'id': 'formModal__open'
								})
							p.service-subscriptions__text *Специалисты по обертыванию: 
								a(href="https://kindofheaven.ru/leader/team.html#massage_chaika") Чайка Людмила
							p.service-subscriptions__text * В абонемент входит обертывание и моделирующий массаж
					+lfkType({
						'anchor': 'vacuum'
					})
						p.subtitle ВАКУУМНЫЙ АППАРАТНЫЙ МАССАЖ
						+photoItem({
							'text': '<p>С помощью различных насадок можно проводить несколько видов вакуумного массажа: моделирующий, лимфодренажный и оздоровительный. Возможно сочетание как аппарата, так и рук массажиста.</p>',
							'image': './assets/images/content/massage/vacuum'
						})
						p.subtitle Показания для проведения вакуумно-роликового массажа
						+list([
							'избыточный вес',
							'целлюлит',
							'уплотнение соединительной ткани',
							'интенсивная физическая нагрузка, синдром хронической усталости',
							'реабилитационный период после пластических операций',
							'наличие стрий (растяжек) после родов и беременности',
						])
						.service-subscriptions._left._ext
							p.subtitle СТОИМОСТЬ ВАКУУМНОГО АППАРАТНОГО МАССАЖА
							.service-subscriptions__list
								.service-subscriptions__item
									p.service-subscriptions__item--amount Массаж
									.service-subscriptions__item--payment 1 600 руб./сеанс
								+button({
									"link" : 'javascript:void(0)',
									'text': 'Записаться',
									'className': '_colored modal__open',
									'id': 'formModal__open'
								})
							p.service-subscriptions__text *Специалисты по вакуумному массажу: 
								a(href="https://kindofheaven.ru/leader/team.html#massage_chaika") Чайка Людмила
					+lfkType({
						'anchor': 'canned'
					})
						p.subtitle БАНОЧНЫЙ МАССАЖ
						+photoItem({
							'text': '<p>Целью баночного массажа является воздействие вакуума на кожные рецепторы, при этом происходит значительный прилив крови к тканям. В такой момент происходит разрушение подкожной жировой клетчатки, а также улучшается циркуляция лимфы, крови и межтканевой жидкости. Кроме того, метаболические, восстановительные и иммунные процессы в тканях ускоряются в десятки, а порою и в сотни раз, что в свою очередь приводит к повышению иммунитета.</p>',
							'image': './assets/images/content/massage/bank'
						})
						p.subtitle Показания для проведения БАНОЧНОГО массажа
						+list([
							'гипертоническая болезнь в начальной стадии',
							'остеохондроз позвоночника (не в стадии обострения)',
							'вегетососудистая дистония',
							'целлюлит',
							'простудные заболевания (при отсутствии высокой температуры)',
							'хронические заболевания органов малого таза (не в стадии обострения)',
						])
						.service-subscriptions._left
							p.subtitle СТОИМОСТЬ БАНОЧНОГО МАССАЖА
							.service-subscriptions__list
								.service-subscriptions__item
									p.service-subscriptions__item--amount Массаж (60&nbsp;минут)
									.service-subscriptions__item--payment 1 750 руб./сеанс 
								.service-subscriptions__item
									p.service-subscriptions__item--amount Абонемент (5&nbsp;сеансов)
									.service-subscriptions__item--payment 7 650 руб.
								.service-subscriptions__item
									p.service-subscriptions__item--amount Абонемент (10&nbsp;сеансов)
									.service-subscriptions__item--payment 14 450 руб.
								+button({
									"link" : 'javascript:void(0)',
									'text': 'Записаться',
									'className': '_colored modal__open',
									'id': 'formModal__open'
								})
							p.service-subscriptions__text *Специалисты по баночному массажу: 
								a(href="https://kindofheaven.ru/leader/team.html#massage_boroldaeva") Бородаева Светлана
					+lfkType({
						'anchor': 'lymphatic'
					})
						p.subtitle Лимфодренажный массаж
						+photoItem({
							'text': '<p>Улучшает приток артериальной крови и отток венозной крови и лимфы, за счет чего ускоряет локальный обмен веществ и уменьшает отеки и объемы. В процессе&nbsp;сеанса массажист сначала снимает напряжение и спазмы на поверхности, а затем в глубине тканей. Только после этого происходит прокачка лимфатической системы. Процедура проводится учитывая вашу индивидуальную скорость лимфотока.</p>',
							'image': './assets/images/content/massage/limfodrenazh'
						})
						p.subtitle Техники лимфодренажного массажа
						+list([
							'ручной лимфодренажный массаж',
							'<span class="js__sculpt-link" data-link="canned">баночный лимфодренажный массаж</span>',
							'<span class="js__sculpt-link" data-link="vacuum">вакуумный аппаратный лимфодренажный массаж</span>',
						], '_one-line')
						.service-subscriptions._left
							p.subtitle СТОИМОСТЬ ЛИМФОДРЕНАЖНОГО МАССАЖА
							.service-subscriptions__list
								.service-subscriptions__item
									p.service-subscriptions__item--amount Массаж (60&nbsp;минут)
									.service-subscriptions__item--payment 1 750 руб./сеанс
								.service-subscriptions__item
									p.service-subscriptions__item--amount Абонемент (5&nbsp;сеансов)
									.service-subscriptions__item--payment 7 650 руб.
								.service-subscriptions__item
									p.service-subscriptions__item--amount Абонемент (10&nbsp;сеансов)
									.service-subscriptions__item--payment 14 450 руб.
								+button({
									"link" : 'javascript:void(0)',
									'text': 'Записаться',
									'className': '_colored modal__open',
									'id': 'formModal__open'
								})
							p.service-subscriptions__text *Специалисты по лимфодренажному: 
								a(href="https://kindofheaven.ru/leader/team.html#massage_boroldaeva") Боролдаева Светлана, 
								a(href="https://kindofheaven.ru/leader/team.html#massage_chaika") Чайка Людмила
					+lfkType({
						'anchor': 'tibet'
					})
						p.subtitle ТИБЕТСКИЙ МАССАЖ
						+photoItem({
							'text': '<p>Тибетский массаж (Ку-Нье) является традиционным методом лечения в тибетской медицине, используется воздействие на более 100 точек связанных с различными органами. В отличии от акупунктуры массажист воздействует на определенные рефлекторные точки руками, сочетая данное воздействие с классическими техниками массажа.</p>',
							'image': './assets/images/content/massage/tibet'
						})
						p.subtitle ИСПОЛЬЗУЕТСЯ ДЛЯ ЛЕЧЕНИЯ
						+list([
							'неврологических заболеваний и расстройства нервной системы, стресса, переутомления, бессонницы, проблем с памятью, заикания',
							'заболеваний опорно-двигательного аппарата',
							'заболеваний репродуктивной и мочеполовой системы',
							'легочных и некоторых сердечно-сосудистых недугов',
							'хронических заболеваний ЖКТ, желчного пузыря, печени (вплоть до цирроза)',
						])
						.service-subscriptions._left
							p.subtitle СТОИМОСТЬ ТИБЕТСКОГО МАССАЖА
							.service-subscriptions__list
								.service-subscriptions__item
									p.service-subscriptions__item--amount Массаж (60&nbsp;минут)
									.service-subscriptions__item--payment 1 850 руб./сеанс
								.service-subscriptions__item
									p.service-subscriptions__item--amount Абонемент (5&nbsp;сеансов)
									.service-subscriptions__item--payment 8 100 руб.
								.service-subscriptions__item
									p.service-subscriptions__item--amount Абонемент (10&nbsp;сеансов)
									.service-subscriptions__item--payment 15 300 руб.
								+button({
									"link" : 'javascript:void(0)',
									'text': 'Записаться',
									'className': '_colored modal__open',
									'id': 'formModal__open'
								})
							p.service-subscriptions__text *Специалисты по тибетскому массажу: 
								a(href="https://kindofheaven.ru/leader/team.html#massage_boroldaeva") Бородаева Светлана
					+lfkType({
						'anchor': 'healing'
					})
						p.subtitle ЛЕЧЕБНЫЙ МАССАЖ
						+photoItem({
							'text': '<p>В лечебном массаже используются специальные техники воздействия на фасции и мышцы, направленные на снятие и уменьшение боли опорно-двигательного аппарата, а так же улучшения его подвижности. Воздействие идет руками массажиста не только на участок тела, где непосредственно имеется проблема, но и на участки анатомически и функционально связанные с ним. Такой подход является более рациональным и физиологически обоснованным и помогает добиться более длительного эффекта от массажа.</p>',
							'image': './assets/images/content/massage/lechebnii'
						})
						p.subtitle ЭФФЕКТЫ ЛЕЧЕБНОГО МАССАЖА
						+list([
							'уменьшение болевого синдрома при различных дорсопатиях (остеохондроз, радикулопатия и тп.)',
							'уменьшение выраженного гипертонуса мышц',
							'улучшение осанки',
							'повышение эластичности связочного аппарата, улучшение подвижности суставов',
							'уменьшение головокружений и головных болей вызванных остеохондрозом',
							'как вспомогательное средство при лечении бронхита, бронхиальной астмы и др.заболевний',
						])
						.service-subscriptions._left._high
							p.subtitle СТОИМОСТЬ ЛЕЧЕБНОГО МАССАЖА
							.service-subscriptions__list
								.service-subscriptions__item
									p.service-subscriptions__item--amount Массаж (60&nbsp;минут)
									.service-subscriptions__item--payment 2 000 руб./сеанс
								.service-subscriptions__item
									p.service-subscriptions__item--amount Абонемент (60&nbsp;минут)
									.service-subscriptions__item--payment 9 000 руб. /5&nbsp;сеансов
								.service-subscriptions__item
									p.service-subscriptions__item--amount Абонемент (60&nbsp;минут)
									.service-subscriptions__item--payment 17 000 руб./10&nbsp;сеансов
							.service-subscriptions__list
								.service-subscriptions__item
									p.service-subscriptions__item--amount Массаж (90&nbsp;минут)
									.service-subscriptions__item--payment 3 000 руб./сеанс
								.service-subscriptions__item
									p.service-subscriptions__item--amount Абонемент (90&nbsp;минут)
									.service-subscriptions__item--payment 13 500 руб./5&nbsp;сеансов
								.service-subscriptions__item
									p.service-subscriptions__item--amount Абонемент (90&nbsp;минут)
									.service-subscriptions__item--payment 25 500 руб./10&nbsp;сеансов
								+button({
									"link" : 'javascript:void(0)',
									'text': 'Записаться',
									'className': '_colored modal__open',
									'id': 'formModal__open'
								})
							p.service-subscriptions__text *Специалисты по лечебному массажу: 
								a(href="https://kindofheaven.ru/leader/team.html#massage_boroldaeva") Боролдаева Светлана, 
								a(href="https://kindofheaven.ru/leader/team.html#massage_chaika") Чайка Людмила
					+lfkType({
						'anchor': 'child'
					})
						p.subtitle детский массаж
						+photoItem({
							'text': '<p>Одно из важных средств профилактики и лечения многих заболеваний у детей, а также правильного формирования двигательных умений у новорожденных. Помогает профилактировать развитие таких заболеваний как, например, искривления позвоночника, плоскостопие. Также массаж помогает школьнику справиться с повышенными  физическими и ментальными нагрузками. В Лидер Спорте детский массаж может получить ребенок в возрасте от 0 до 14 лет.</p>',
							'image': './assets/images/content/massage/children'
						})
						p.subtitle противопоказания
						+list([
							'температура',
							'воспалительные процессы',
							'в случаях, когда педиатр или детский невролог запретили проведение процедуры',
							'наличие серьезных заболеваний',
						])
						.service-subscriptions._left
							p.subtitle СТОИМОСТЬ ДЕТСКОГО МАССАЖА
							.service-subscriptions__list
								.service-subscriptions__item
									p.service-subscriptions__item--amount Массаж (40&nbsp;минут)
									.service-subscriptions__item--payment 1 100 руб./сеанс
								.service-subscriptions__item
									p.service-subscriptions__item--amount Абонемент (4&nbsp;сеанса)
									.service-subscriptions__item--payment 3 950 руб.
								.service-subscriptions__item
									p.service-subscriptions__item--amount Абонемент (8&nbsp;сеансов)
									.service-subscriptions__item--payment 7 500 руб.
								+button({
									"link" : 'javascript:void(0)',
									'text': 'Записаться',
									'className': '_colored modal__open',
									'id': 'formModal__open'
								})
							p.service-subscriptions__text *Специалисты по детскому массажу: 
								a(href="https://kindofheaven.ru/leader/team.html#massage_boroldaeva") Боролдаева Светлана, 
								a(href="https://kindofheaven.ru/leader/team.html#massage_chaika") Чайка Людмила
					+lfkType({
						'anchor': 'stone'
					})
						p.subtitle стоун терапия (массаж камнями)
						+photoItem({
							'text': '<p>Массаж горячими камнями известен еще с древних времен. Его применяли жители Месопотамии Индии, древние римляне и тибетские монахи. Массажист, воздействуя камнями на рефлекторные зоны, улучшает кровообращение и лимфоток, нормализует обменные процессы, избавляет от мышечных зажимов, и в целом оказывает расслабляющее и успокаивающее действие.</p>',
							'image': './assets/images/content/massage/stone'
						})
						p.subtitle особенности массажа
						+list([
							'ручные техники массажа сочетаются с воздействиями горячими камнями',
							'общая продолжительность&nbsp;сеанса до 90&nbsp;минут',
							'оказывает выраженный седативный (расслабляющий) эффект ',
						])
						.service-subscriptions._left._ext
							p.subtitle СТОИМОСТЬ СТОУН МАССАЖА
							.service-subscriptions__list
								.service-subscriptions__item
									p.service-subscriptions__item--amount Массаж
									.service-subscriptions__item--payment 2 150 руб./сеанс
								+button({
									"link" : 'javascript:void(0)',
									'text': 'Записаться',
									'className': '_colored modal__open',
									'id': 'formModal__open'
								})
							p.service-subscriptions__text *Специалисты по стоун массажу: 
								a(href="https://kindofheaven.ru/leader/team.html#massage_chaika") Чайка Людмила
		+form('lfk-form')
	+modal({
		'id': 'formModal',
		'className': 'sub-modal'
	})
		p.sub-modal--title ОСТАВЬ ЗАЯВКУ И МЫ СВЯЖЕМСЯ С ТОБОЙ<br> В БЛИЖАЙШЕЕ ВРЕМЯ
		form
			.form__inputs
				+input({'text': 'Имя', 'id': 'yoganame', 'name': 'name', 'required': true, 'type': 'text'})
				+input({'text': 'Телефон', 'id': 'yogaphone', 'name': 'phone', 'required': true, 'type': 'text','className': 'phone-input'})
			+agree({'id': 'yogaagreement', 'name': 'agreement'})
			+button({'id': 'yogaformSectionButton', 'text': 'Записаться'})