.reviews-list {
	margin-bottom: 150px;
	display: flex;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-justify-content: flex-start;
	        justify-content: flex-start;
	-webkit-align-items: center;
	        align-items: center;
	.subtitle {
		-webkit-align-self: flex-start;
		        align-self: flex-start;
	}
	&__slider {
		width: 100%;
		margin: 60px auto 50px auto;
		padding: 0 100px;
		@media (max-width: 780px) {
			margin: 40px auto;
			padding: 0 50px;
		}
		@media (max-width: 480px) {
			padding: 0 30px;
		}
	
		.slick-prev {
			position: absolute;
			top: 56px;
			left: 2px;
			@include respond-below(md) {
				left: -10px;
			}
			border-right: 20px solid $orange;
			border-left: 20px solid transparent;
			border-top: 16px solid transparent;
			border-bottom: 16px solid transparent;
			@include respond-below(sm) {
				border-right: 8px solid $orange;
				border-left: 8px solid transparent;
				border-top: 10px solid transparent;
				border-bottom: 10px solid transparent;
			}
			cursor: pointer;
			-webkit-transition: border-color .3s linear;
			   -moz-transition: border-color .3s linear;
			    -ms-transition: border-color .3s linear;
			     -o-transition: border-color .3s linear;
			        transition: border-color .3s linear;
			font-size: 0;
			&:before {
				display: none;
			}
			&.slick-disabled {
				border-right: 20px solid #f0f0f0;
				@include respond-below(sm) {
					border-right: 8px solid #f0f0f0
				}
				cursor: default;
			}
		}
		.slick-next {
			position: absolute;
			top: 56px;
			right: 2px;
			@include respond-below(md) {
				right: -10px;
			}
			border-left: 20px solid $orange;
			border-right: 20px solid transparent;
			border-top: 16px solid transparent;
			border-bottom: 16px solid transparent;
			@include respond-below(sm) {
				border-right: 8px solid transparent;
				border-left: 8px solid $orange;
				border-top: 10px solid transparent;
				border-bottom: 10px solid transparent;
			}
			cursor: pointer;
			-webkit-transition: border-color .3s linear;
			   -moz-transition: border-color .3s linear;
			    -ms-transition: border-color .3s linear;
			     -o-transition: border-color .3s linear;
			        transition: border-color .3s linear;
			font-size: 0;
			&:before {
				display: none;
			}
			&.slick-disabled {
				border-left: 20px solid #f0f0f0;
				@include respond-below(sm) {
					border-left: 8px solid #f0f0f0;
				}
				cursor: default;
			}
		}
	}
	&__button {
		&:hover {
			background: $orange;
			border-color: $orange;
		}
	}
}