mixin reviewsList(reviews)
	include ../review/review.pug
	include ../button/button.pug
	.reviews-list
		p.subtitle отзывы клиентов
		.reviews-list__slider.js_reviews-slider
			each item in reviews.items
				+review(item)
		+button({
			'link': reviews.link,
			'className': 'reviews-list__button',
			'text': 'Оставить отзыв',
			'target': '_blank'
		})