.service-yoga {
	display: flex;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-justify-content: space-between;
	        justify-content: space-between;
	-webkit-align-items: flex-start;
	        align-items: flex-start;
	@include respond-below(lg) {
		-webkit-flex-wrap: wrap;
		    -ms-flex-wrap: wrap;
		        flex-wrap: wrap;
	    -webkit-flex-direction: column-reverse;
	        -ms-flex-direction: column-reverse;
	            flex-direction: column-reverse;
	    -webkit-justify-content: flex-start;
	            justify-content: flex-start;
	}
}
.yoga-page {
	.form-wrapper {
		margin-top: 55px;
	}
	.service-subscriptions {
		margin-top: 100px;
	}
	.service-trainer {
		.list {
			@include respond-above(md) {
				height: 270px;
				grid-template-columns: 50% 1fr;
				.list__item {
					// width: 50%;
					// max-width: 50%;
					&:nth-child(5) {
						margin-bottom: 40px;
					}
				}
			}
			@include respond-above(lg) {
				height: 180px;
				grid-template-columns: repeat(4, 1fr);
				.list__item {
					// width: 25%;
					// max-width: 25%;
					margin-bottom: 40px;
					padding-right: 20px;
					&:nth-child(5) {
						margin-bottom: 150px;
					}
				}
			}
		}
	}
	.service__photo-items {
		.photo-item {
			margin-bottom: 200px;
			@include respond-below(md) {
				margin-bottom: 250px;
			}
		}
	}
}
.service--text {
	color: $dark-gray;
	font-size: 18px;
	line-height: 30px;
}

.service-rules {
	margin-bottom: 100px;
	.subtitle {
		margin-bottom: 40px;
	}
	.service-rules__inner {
		display: flex;
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-justify-content: flex-start;
		        justify-content: flex-start;
		-webkit-align-items: flex-start;
		        align-items: flex-start;
		@include respond-below(md) {
			-webkit-flex-direction: column;
			    -ms-flex-direction: column;
			        flex-direction: column;
		    -webkit-justify-content: flex-start;
		            justify-content: flex-start;
		    -webkit-align-items: stretch;
		            align-items: stretch;
		}
		.service-rules__inner--text {
			flex: 1 1 auto;
			width: auto;
			max-width: calc(100% - 360px);
			padding-right: 120px;
			@include respond-below(lg) {
				padding-right: 50px;
				max-width: calc(100% - 300px);
			}
			@include respond-below(md) {
				padding-right: 0;
				flex: 0 0 auto;
				width: 100%;
				height: auto;
				max-width: 100%
			}
			p {
				color: $dark-gray;
				font-size: 18px;
				line-height: 30px;
				span {
					font-weight: 500;
					color: $dark-gray;
				}
				& + p {
					margin-top: 30px;
				}
				a {
					color: inherit;
					font-weight: 500;
					-webkit-transition: color .3s ease-in-out;
					   -moz-transition: color .3s ease-in-out;
					    -ms-transition: color .3s ease-in-out;
					     -o-transition: color .3s ease-in-out;
					        transition: color .3s ease-in-out;
					&:hover {
						color: $orange;
					}
				}
			}
		}
		.service-rules__inner--links {
			flex: 0 0 360px;
			width: 360px;
			@include respond-below(lg) {
				flex: 0 0 300px;
				width: 300px;
			}
			@include respond-below(md) {
				width: 100%;
				flex: 0 0 auto;
				height: auto;
				margin-top: 45px;
			}
			display: flex;
			-webkit-flex-direction: column;
			    -ms-flex-direction: column;
			        flex-direction: column;
			-webkit-justify-content: flex-start;
			        justify-content: flex-start;
			-webkit-align-items: flex-start;
			        align-items: flex-start;
			a {
				font-weight: 400;
				color: $dark-gray;
				font-size: 18px;
				-webkit-transition: color .3s linear;
				   -moz-transition: color .3s linear;
				    -ms-transition: color .3s linear;
				     -o-transition: color .3s linear;
				        transition: color .3s linear;
				&:hover {
					color: $orange;
				}
				&:not(:last-child) {
					margin-bottom: 45px;
				}
				cursor: pointer;
				position: relative;
				&:after {
					content: "";
					display: block;
					position: absolute;
					top: 0;
					right: -25px;
					border-left: 10px solid $orange;
					border-right: 10px solid transparent;
					border-top: 8.5px solid transparent;
					border-bottom: 8.5px solid transparent;
				}
			}
		}
		&._modified {
			.service-rules__inner--text {
				max-width: calc(100% - 253px);
				@include respond-below(md) {
					width: 100%;
					max-width: 100%
				}
			}
			.service-rules__inner--links {
				flex: 0 0 253px;
				width: 253px;
				@include respond-below(md) {
					flex: 0 0 auto;
					width: 100%;
				}
				a {
					font-weight: 500;
					&:not(:last-child) {
						margin-bottom: 30px;
					}
				}
			}
		}
	}
}