.service-functional {
	display: flex;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-justify-content: space-between;
	        justify-content: space-between;
	-webkit-align-items: flex-start;
	        align-items: flex-start;
	@media (max-width: 900px) {
		-webkit-flex-wrap: wrap;
		    -ms-flex-wrap: wrap;
		        flex-wrap: wrap;
	    -webkit-flex-direction: column-reverse;
	        -ms-flex-direction: column-reverse;
	            flex-direction: column-reverse;
	    -webkit-justify-content: flex-start;
	            justify-content: flex-start;
	   	& > .service-line {
	   		display: none;
	   	}
	}
}
.functional-page {
	.form-wrapper {
		margin-top: 55px;
	}
	.service-trainer {
		.list {
			// @include respond-above(lg) {
			// 	height: 270px;
			// 	.list__item {
			// 		width: 25%;
			// 		max-width: 25%;
			// 		margin-bottom: 40px;
			// 		padding-right: 20px;
			// 		&:nth-child(8) {
			// 			margin-bottom: 150px;
			// 		}
			// 	}
			// }
		}
	}
}
.service--text {
	color: $dark-gray;
	font-size: 18px;
	line-height: 30px;
}
.service__photo-items {
	margin-top: 150px;
	@include respond-below(md) {
		margin-top: 100px;
	}
	.photo-item {
		&:not(:last-child) {
			margin-bottom: 50px;
		}
	}
}

.service-subscriptions {
	margin-top: 145px;
	@include respond-below(md) {
		margin-top: 100px;
	}
	.subtitle {
		margin-bottom: 55px;
		@include respond-below(md) {
			margin-bottom: 50px;
		}
	}
	&._centered {
		.service-subscriptions__list {
			-webkit-flex-wrap: wrap;
			    -ms-flex-wrap: wrap;
			        flex-wrap: wrap;
		    .button {
		    	margin: 50px auto;
		    }
		}
		@media (max-width: 1050px) and (min-width: 801px) {
			.service-subscriptions__list {
				-webkit-flex-wrap: wrap;
				    -ms-flex-wrap: wrap;
				        flex-wrap: wrap;
			    -webkit-align-items: flex-end;
			            align-items: flex-end;
			    -webkit-justify-content: center;
			            justify-content: center;
			    .service-subscriptions__item, .button {
			    	max-width: calc((100% - 50px)/3);
			    	width: calc((100% - 50px)/3);
			    	flex: 0 0 calc((100% - 50px)/3);
			    	&:not(:nth-child(3n)) {
			    		margin-right: 25px;
			    	}
			    }
			    .service-subscriptions__item:last-of-type {
			    	margin-top: 40px;
			    }
			    .button {
			    	margin: 40px 0 0 0;
			    }
			}
		}
	}
	&._two-rows {
		.service-subscriptions__list {
			-webkit-flex-wrap: wrap;
			    -ms-flex-wrap: wrap;
			        flex-wrap: wrap;
		    -webkit-align-items: flex-end;
		            align-items: flex-end;
		    -webkit-justify-content: center;
		            justify-content: center;
		    @media (max-width: 900px) {
		    	-webkit-justify-content: space-between;
		    		    justify-content: space-between;	
		        .button {
		        	@media (max-width: 900px) and (min-width: 800px) {
		    			margin-right: 0 !important;
		    			width: calc((100% - 80px)/3);
		    			max-width: calc((100% - 80px)/3);
		    			flex: 0 0 calc((100% - 80px)/3);
		    		}
		        }
		    }
		    .service-subscriptions__item {
		    	&:not(:nth-child(4n)) {
		    		margin-right: 40px;
		    	}
		    	@include respond-below(lg) {
		    		&:not(:nth-child(4n)) {
		    			margin-right: 5px;
		    		}
		    	}
		    	@media (max-width: 900px) and (min-width: 800px)  {
		    		margin-right: 0 !important;
		    		width: calc((100% - 80px)/3);
		    		max-width: calc((100% - 80px)/3);
		    		flex: 0 0 calc((100% - 80px)/3);
		    	}
		    	&:last-of-type {
		    		@include respond-above(lg) {
		    			margin-top: 35px;
		    		}
		    	}
		    }
		}
	}
	&._left {
		.service-subscriptions__list {
			-webkit-justify-content: flex-start;
			        justify-content: flex-start;
		}
		.service-subscriptions__item {
			margin-right: 40px;
			@include respond-below(lg) {
				margin-right: 5px;
			}
		}
		&._ext {
			.service-subscriptions__list {
				-webkit-align-items: flex-end !important;
				        align-items: flex-end !important;
				-webkit-flex-direction: row !important;
				    -ms-flex-direction: row !important;
				        flex-direction: row !important;
			    @media (max-width: 575px) {
			    	-webkit-flex-direction: column !important;
			    	    -ms-flex-direction: column !important;
			    	        flex-direction: column !important;
			        -webkit-align-items: stretch !important;
			                align-items: stretch !important;
			    }
			}
			.service-subscriptions__item, .button {
				width: 255px;
				max-width: 255px;
				flex: 0 0 255px;
				margin-bottom: 0;
				margin-top: 0;
				margin-right: 40px;
				@media (max-width: 575px) {
					width: 100%;
					max-width: 100%;
					flex: 0 0 auto;
					margin-right: 0;
					margin-top: 30px;
					
				}
			}
		}
		&._high	{
			@media (max-width: 1024px) and (min-width: 801px) {
				.service-subscriptions__list {
					-webkit-flex-wrap: wrap;
					    -ms-flex-wrap: wrap;
					        flex-wrap: wrap;
					-webkit-justify-content: space-between;
					        justify-content: space-between;
				    .service-subscriptions__item {
				    	margin-right: 0;
				    	max-width: calc((100% - 80px)/3);
				    	width: calc((100% - 80px)/3);
				    	flex: 0 0 calc((100% - 80px)/3);
				    }
				}
				.button {
					max-width: calc((100% - 80px)/3);
				    width: calc((100% - 80px)/3);
				    flex: 0 0 calc((100% - 80px)/3);
				    margin-top: 50px;
				    margin-left: auto;
				    margin-right: auto;
				}
			}
		}
		&._resize {
			@media (max-width: 1170px) and (min-width: 960px) {
				.service-subscriptions__item, .button {
					width: calc((100% - 120px)/ 4);
					flex: 0 0 calc((100% - 120px)/ 4);
					margin-right: 40px;
				}
			}
			@media (max-width: 960px) and (min-width: 801px) {
				.service-subscriptions__list {
					-webkit-justify-content: space-between;
					        justify-content: space-between;
				    .service-subscriptions__item, .button {
				    	margin-right: 0;
				    	max-width: calc((100% - 80px)/3);
				    	width: calc((100% - 80px)/3);
				    	flex: 0 0 calc((100% - 80px)/3);
				    }
				}
			}
		}
	}
	&__text {
		color: #222222;
		font-family: "Fira Sans Condensed";
		font-size: 18px;
		font-weight: 400;
		line-height: 30px;
		&._half {
			@include respond-above(lg) {
				max-width: 65%;
			}
		}
		span {
			font-weight: 500;
			color: $orange;
			&.bolder {
				color: #222222;
			}
		}
		a {
			font-weight: 500;
			color: #222222;
			-webkit-transition: color .3s ease-in-out;
			   -moz-transition: color .3s ease-in-out;
			    -ms-transition: color .3s ease-in-out;
			     -o-transition: color .3s ease-in-out;
			        transition: color .3s ease-in-out;
			&:hover {
				color: $orange;
			}
		}
	}
	.service-subscriptions__list {
		display: flex;
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-justify-content: space-between;
		        justify-content: space-between;
		-webkit-align-items: flex-end;
		        align-items: flex-end;
		margin-bottom: 50px;
		@media (max-width: 800px) {
			-webkit-flex-direction: column;
			    -ms-flex-direction: column;
			        flex-direction: column;
		    -webkit-justify-content: flex-start;
		            justify-content: flex-start;
		   	-webkit-align-items: stretch;
		   	        align-items: stretch;
		    margin-bottom: 30px;
		}
		.service-subscriptions__item {
			width: calc((100% - 120px)/4);
			flex: 0 0 calc((100% - 120px)/4);
			@include respond-below(lg) {
				width: calc((100% - 16px)/4);
				flex: 0 0 calc((100% - 16px)/4);
			}
			@media (max-width: 800px) {
				width: 100%;
				flex: 0 0 auto;
				margin-bottom: 15px;
			}
			display: flex;
			-webkit-flex-direction: column;
			    -ms-flex-direction: column;
			        flex-direction: column;
			-webkit-justify-content: flex-end;
			        justify-content: flex-end;
			-webkit-align-items: center;
			        align-items: center;
			.service-subscriptions__item--amount {
				color: $dark-gray;
				font-size: 24px;
				font-weight: 500;
				line-height: 1;
				text-align: center;
				margin: 10px 0;
				max-width: 100%;
			}
			.service-subscriptions__item--payment {
				height: 50px;
				background-color: $orange;
				width: 100%;
				font-weight: 500;
				color: #ffffff;
				font-size: 24px;
				flex: 0 0 50px;
				display: flex;
				-webkit-flex-direction: row;
				    -ms-flex-direction: row;
				        flex-direction: row;
				-webkit-justify-content: center;
				        justify-content: center;
				-webkit-align-items: center;
				        align-items: center;
			}
		}
		.button {
			width: calc((100% - 120px)/4);
			flex: 0 0 calc((100% - 120px)/4);
			@media (max-width: 800px) {
				width: 100%;
				flex: 0 0 auto;
				margin-top: 30px;
			}
		}
	}
}